.ocd-console-header-colour {
    background-color: white;
}

.ocd-console-menubar-colour {
    background-color: white;
}

.ocd-console-toolbar-colour {
    background-color: white;
}

.ocd-console-footer-colour {
    background-color: white;
}
