<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OKIT OCI Web Designer</title>
    <!--script src="https://d3js.org/d3.v5.min.js"></script-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_common.js') }}"></script>
    {% block headscripts %}{% endblock %}
</head>
<body>
    <div id="console-wrapper" class="one-console">
        <div id="console-header-wrapper">
            <div id="console-header-container">
                <div class="header-gradient"></div>
                <header class="console-branding-bar">
                    <div class="nav-menu-button">
                        <img class="nav-menu-button-icon" src="{{ url_for('static', filename='svg/hamburger.svg') }}">
                    </div>
                </header>
            </div>
            <div id="console-content-wrapper">
                <main id="baseplate">
                    {% block mainblock %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
    <div id="console-header-footer">
    </div>
    {% block footerscripts %}{% endblock %}
</body>
</html>