{% extends "okit/base.html" %}

{% block navmenublock %}
    <ul class="nav-list">
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>File</span>
                </span>
            </div>
        </li>
        <li><a id="file-new-menu-item" class="parent-item" href="{{ url_for('okit.designer') }}">New</a></li>
        <li><a id="file-load-menu-item" class="parent-item" href="#">Load</a></li>
        <li><a id="file-save-menu-item" class="parent-item" href="#">Save</a></li>
        <li><a id="file-export-menu-item" class="parent-item" href="#">Export</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Query</span>
                </span>
            </div>
        </li>
        <li><a id="query-oci-menu-item" class="parent-item" href="{{ url_for('okit.ociQuery', cloud='oci') }}">OCI</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Generate</span>
                </span>
            </div>
        </li>
        <li><a id="generate-terraform-menu-item" class="parent-item" href="#">Terraform</a></li>
        <li><a id="generate-ansible-menu-item" class="parent-item" href="#">Ansible</a></li>
    </ul>
{% endblock %}

{% block headscripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_drag_drop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_generation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_properties.js') }}"></script>
    {% for oci_asset_js in oci_assets_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='okit/js/oci_assets/' + oci_asset_js) }}"></script>
    {% endfor %}
{% endblock %}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/designer.css') }}">
{% endblock %}

{% block mainblock %}
    <div id="main-panel" class="main-panel">
        <div id="menubar" class="menu-bar">
            <input type="file" id="files" class="file-button toolbar-button" name="file[]">
            <!--input type="button" id="newdiagram" class="toolbar-button" value="New">
            <input type="button" id="loaddiagram" class="toolbar-button" value="Load">
            <input type="button" id="savejson" class="toolbar-button" value="Save">
            <input type="button" id="exportsvg" class="toolbar-button" value="Export">
            <input type="button" id="queryoci" class="toolbar-button" value="Query OCI">
            <label class="title-label">Generate : </label>
            <input type="button" id="generateterraform" class="toolbar-button" value="Terraform">
            <input type="button" id="generateansible" class="toolbar-button" value="Ansible">
            input type="button" id="generatepython" class="toolbar-button" value="Python">
            <input type="button" id="generatebash" class="toolbar-button" value="Bash"-->
        </div>
        <div id="icon-palette" class="icons-pallet">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_VCloudNetwork_red.svg') }}" title="Virtual Cloud Network" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_InternetGateway_red.svg') }}" title="Internet Gateway" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_RouteTable_red.svg') }}" title="Route Table" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_SecurityLists_red.svg') }}" title="Security List" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_Backbone_red.svg') }}" title="Subnet" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_LoadBalance_red.svg') }}" title="Load Balancer" draggable="true">
            <img class="palatte-icon" src="{{ url_for('static', filename='svg/OCI_VM_red.svg') }}" title="Instance" draggable="true">
        </div>
        <div id="web-designer-panel" class="web-designer-panel flex-row">
            <div id="canvas-wrapper" class="designer-left-column canvas-wrapper">
                <svg id="okitcanvas" data-type="Compartment" class="svg-canvas"></svg>
            </div>
            <div id="asset-properties" class="designer-right-column">
                <div id="properties" class="property-editor"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerblock %}
    <textarea id="okitjson" readonly="readonly"></textarea>
{% endblock %}

{% block footerscripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer.js') }}"></script>
    {% if okit_query_json is defined %}
        <script type="text/javascript">
            OKITJsonObj = {{ okit_query_json | safe }};
            drawSVGforJson();
        </script>
    {% endif %}
{% endblock %}

