{% extends "okit/base.html" %}

{% block navmenublock %}
    <ul class="nav-list">
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>File</span>
                </span>
            </div>
        </li>
        <li><a id="file-new-menu-item" class="parent-item" href="{{ url_for('okit.designer') }}">New</a></li>
        <li><a id="file-load-menu-item" class="parent-item" href="#">Load</a></li>
        <li><a id="file-save-menu-item" class="parent-item" href="#">Save</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Canvas</span>
                </span>
            </div>
        </li>
        <li><a id="file-add-menu-item" class="parent-item" href="#">Add Compartment</a></li>
        <li><a id="file-redraw-menu-item" class="parent-item" href="#">Redraw</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Export</span>
                </span>
            </div>
        </li>
        <li><a id="file-export-svg-menu-item" class="parent-item" href="#">SVG</a></li>
        <li><a id="file-export-rm-menu-item" class="parent-item" href="#">Resource Manager</a></li>
        <li><a id="file-export-orca-menu-item" class="parent-item" href="#">Orca</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Query</span>
                </span>
            </div>
        </li>
        <li><a id="query-oci-menu-item" class="parent-item" href="{{ url_for('okit.ociQuery', cloud='oci') }}" onclick="setBusyIcon()">OCI</a></li>
        <li>
            <div>
                <span class="header-item">
                    <img id="header-item-icon" src="{{ url_for('static', filename='svg/compute.svg') }}">
                    <span>Generate</span>
                </span>
            </div>
        </li>
        <li><a id="generate-terraform-menu-item" class="parent-item" href="#">Terraform</a></li>
        <li><a id="generate-ansible-menu-item" class="parent-item" href="#">Ansible</a></li>
        <li><a id="generate-resource-manager-menu-item" class="parent-item" href="#">Terraform 0.11</a></li>
    </ul>
{% endblock %}

{% block headscripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer.js') }}"></script>
    <script type="text/javascript">
        let palette_svg = {}
        let xmlSerialiser = new XMLSerializer();
        {% for palette_icon in palette_icons %}
            palette_svg["{{ palette_icon['title'] }}"] = "{{ url_for('static', filename='okit/palette/' + palette_icon['svg']) }}";
            $.ajax({
                type: 'get',
                url: "{{ url_for('static', filename='okit/palette/' + palette_icon['svg']) }}",
                dataType: 'xml',
                success: function(xml) {
                    console.log('load SVG Success');
                    let g = $(xml).find("g");
                    palette_svg["{{ palette_icon['title'] }}"] = xmlSerialiser.serializeToString(g[0]);
                },
                error: function(xhr, status, error) {
                    console.log('load SVG Error : '+ error)
                    console.log('load SVG Status : '+ status)
                }
            });
        {% endfor %}
    </script>
    {% if okit_query_request_json is defined %}
        <script type="text/javascript">
            console.log('Processing Query Javascript');
            okitQueryRequestJson = {{ okit_query_request_json | safe }};
            OKITJsonObj = {{ okit_query_response_json | safe }};
            //queryCompartmentAjax();
            //displayOkitJson();
            //drawSVGforJson();
        </script>
    {% endif %}
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_svg.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_drag_drop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_generation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_designer_properties.js') }}"></script>
    {% for oci_asset_js in oci_assets_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='okit/js/oci_assets/' + oci_asset_js) }}"></script>
    {% endfor %}
{% endblock %}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/designer.css') }}">
{% endblock %}

{% block mainblock %}
    <div id="main-panel" class="main-panel flex-column">
        <div id="icon-palette" class="icons-palette">
            {% for palette_icon in palette_icons %}
            <img class="palette-icon" src="{{ url_for('static', filename='okit/palette/' + palette_icon['svg']) }}" title="{{ palette_icon['title'] }}" draggable="true">
            {% endfor %}
        </div>
        <div id="web-designer-panel" class="web-designer-panel flex-row">
            <div id="canvas-wrapper" class="designer-left-column canvas-wrapper">
                <div id="compartment-tabs" class="tab">
                    <!--button-- class="tablinks active" id="Example-tab-button">Example</button-->
                </div>
                <!--div class="tabcontent" id="Example-tab-content">
                    <svg x="0" y="0" width="100%" height="100%" viewBox="0 0 3440 1300" xmlns="http://www.w3.org/2000/svg">
                        <svg x="0" y="0" width="100%" height="100%">
                            <rect x="0" y="0" width="100%" height="100%" stroke-dasharray="5, 5" stroke="orange" fill="grey" style="fill-opacity: .25;"></rect>
                            <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                                <text x="1" y="20">okit-comp001</text>
                            </svg>
                            <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
                                <text x="10" y="80" style="fill: orange;">Compartment</text>
                            </svg>
                            <svg x="10" y="50" width="2000" height="500" viewBox="0 0 2000 500" preserveAspectRatio="xMinYMin meet">
                                <rect x="0" y="0" width="100%" height="100%" stroke-dasharray="5, 5" stroke="purple" fill="white" style="fill-opacity: .25;"></rect>
                                <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                                    <text x="1" y="20" vector-effects="non-scaling-size">okit-vcn001</text>
                                </svg>
                                <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
                                    <text x="1" y="80" style="fill: purple;">VCN</text>
                                </svg>
                                <svg x="10" y="100" width="1000" height="300" viewBox="0 0 1000 300" preserveAspectRatio="xMinYMin meet">
                                    <rect x="0" y="0" width="100%" height="100%" stroke-dasharray="5, 5" stroke="red" fill="white" style="fill-opacity: .25;"></rect>
                                    <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                                        <text x="1" y="20">okit-sn001</text>
                                    </svg>
                                    <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
                                        <text x="1" y="80" style="fill: red;">Subnet</text>
                                    </svg>
                                </svg>
                            </svg>
                            <svg x="10" y="600" width="2000" height="500" viewBox="0 0 2000 500" preserveAspectRatio="xMinYMin meet">
                                <rect x="0" y="0" width="100%" height="100%" stroke-dasharray="5, 5" stroke="purple" fill="white" style="fill-opacity: .25;"></rect>
                                <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                                    <text x="1" y="20">okit-vcn002</text>
                                </svg>
                                <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
                                    <text x="1" y="80" style="fill: purple;">VCN</text>
                                </svg>
                                <svg x="10" y="100" width="1000" height="300" viewBox="0 0 1000 300" preserveAspectRatio="xMinYMin meet">
                                    <rect x="0" y="0" width="100%" height="100%" stroke-dasharray="5, 5" stroke="red" fill="white" style="fill-opacity: .25;"></rect>
                                    <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMin meet">
                                        <text x="1" y="20">okit-sn002</text>
                                    </svg>
                                    <svg x="1" y="1" width="200" height="100%" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet">
                                        <text x="1" y="80" style="fill: red;">Subnet</text>
                                    </svg>
                                </svg>
                            </svg>
                        </svg>
                    </svg>
                </div-->
            </div>
            <div id="asset-properties" class="designer-right-column properties-wrapper">
                <div id="properties-and-source" class="properties-source-wrapper">
                    <div id="properties-toggle" class="slide-bar">
                        <!--button id="show-code">Source</button-->
                        <input type="radio" name="source-properties" value="source">Source
                        <input type="radio" name="source-properties" value="properties" checked="checked">Properties
                    </div>
                    <div id="properties" class="property-editor"></div>
                    <div id="json-display" class="source-code hidden">
                        <pre id="okitjson" readonly="readonly"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="menubar" class="menu-bar">
            <input type="file" id="files" class="file-button toolbar-button" name="file[]">
        </div>
    </div>
    <div id="context-menu" class="hidden context-menu"><button id="right-click-delete">Delete</button></div>
    <div id="query-progress" class="hidden query-progress">
        <table>
            <thead>
                <tr><th>Searching.....</th></tr>
            </thead>
            <tbody id="query-progress-tbody">
                <tr><td>Completed</td></tr>
                <!--tr><td><input type="checkbox" id="compartment-query-cb">Compartments</td></tr>
                <tr><td><input type="checkbox" id="vcn-query-cb">Virtual Cloud Networks</td></tr>
                <tr><td><input type="checkbox" id="internet-gateway-query-cb">Internet Gateways</td></tr>
                <tr><td><input type="checkbox" id="route-table-query-cb">Route Tables</td></tr>
                <tr><td><input type="checkbox" id="security-list-query-cb">Security Lists</td></tr>
                <tr><td><input type="checkbox" id="subnet-query-cb">Subnets</td></tr>
                <tr><td><input type="checkbox" id="instance-query-cb">Instances</td></tr>
                <tr><td><input type="checkbox" id="load-balancer-query-cb">Load Balancers</td></tr-->
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footerblock %}
{% endblock %}

{% block footerscripts %}
{% endblock %}

