<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>OKIT OCI Web Designer</title>
    <!--script src="https://d3js.org/d3.v5.min.js"></script-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_common.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/designer.css') }}">
</head>
<body>
    <div id="query_panel" class="flex-column" style="height: 99vh; width:100%;">
        <div id="queryparameters" class="property-editor">
            <form id="queryform" action="{{ url_for('okit.designer') }}" method="post" onsubmit="setBusyIcon();">
                <table id="query_table" class="property-editor-table">
                    <tr><td>Compartment</td><td>
                        <select id="compartment" name="compartment_id" form="queryform">
                            {% for compartment in compartments %}
                                <option value="{{ compartment['id'] }}">{{ compartment['display_name'] }}</option>
                            {%  endfor %}
                        </select></td></tr>
                    <tr><td>VCN Name Filter</td><td><input type="text" id="virtual_cloud_network_name_filter" name="virtual_cloud_network_name_filter" class="property-value"></td></tr>
                    <tr><td><input type="button" id="submitquery" class="toolbar-button" value="Submit"></td><td><input type = "submit" value = "submit" /></td></tr>
                </table>
            </form>
        </div>
        <div id="query_footer" style="flex-grow: 1;">
            <textarea id="okitjson" readonly="readonly"></textarea>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='okit/js/okit_query.js') }}"></script>
</body>
</html>