/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.over {
    border: 2px dashed #000;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.st1{fill:#F80000;}
.st0{fill:lightgray;}

/*
** Main Panel (Main Block) CSS
 */
.main-panel {
    height: calc(100vh - 100px);
    width: 100%;
}


/* Icons Palette */
.icons-palette {
    border-width: 1px;
    border-color: black;
    width: 100%;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
}

.palette-icon {
    width: 70px;
    height: 70px;
    float: left;
}


/* Web Designer Panel */
.web-designer-panel {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
}

.designer-left-column {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}

.designer-right-column {
    padding-left: 10px;
    padding-left: 5px;
    border-left: 2px solid black;
    width: 20%;
    overflow: auto;
    resize: horizontal;
    direction: rtl;
    display: flex;
}


/* SVG Canvas */
.canvas-wrapper {
    background-color: whitesmoke;
    border-width: 1px;
    border-color: black;
    margin: 0;
    max-height: calc(100vh - 160px);
    display: flex;
    overflow: scroll;
}

.svg-canvas {
    margin: 0;
    max-width: 100%;
    min-height: calc(100vh - 160px);
    display: flex;
}


/* Asset Properties */

.properties-wrapper {
    background-color: ghostwhite;
    border-width: 1px;
    border-color: black;
    margin: 0;
    max-height: calc(100vh - 160px);
    display: flex;
    overflow: scroll;
}

.property-editor {
    background: ghostwhite;
    margin-right: 5px;
    width: 100%;
    display: block;
    direction: ltr;
}

.property-editor-title {
    color: #F80000;
    font-weight: bold;
    font-family: "Times New Roman";
    min-height: 20px;
    display: block;
    vertical-align: top;
    text-align: center;
}

.property-editor-body {
    display: flex;
}

.property-editor-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.property-editor-table th {
    border: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.property-editor-table td {
    border: 1px solid #ddd;
    padding: 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.property-editor-table tr:nth-child(even){background-color: #f2f2f2;}

.property-editor-table tr:nth-child(odd){background-color: ghostwhite;}

.property-editor-table tr:hover {background-color: #ddd;}

.property-value {
    font-family: Helvetica,  Arial, sans-serif;
    font-size: 12px;
    width: 99%;
    margin-right: 5px;
}

.add-button {
    background-color: lime;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.delete-button {
    background-color: red;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.slide-bar {
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}

.source-code {
    display: block;
    width: 100%;
    font-family: Courier, "Courier New", Arial;
    font-weight: bold;
    direction: ltr;
}


/* Menu Bar */
.menu-bar {
    width: 100%;
    height: 50px;
    background: lightskyblue;
    display: none;
}

.file-button {
    display: none;
}

/*
** Footer Panel (Footer Block) CSS
 */

#okitjson {
    width: 100%;
    height: 100%;
    overflow-scrolling: auto;
    background: lightskyblue;
}



