.idea
**/*.iml
**/.DS_Store

.vscode

venv/

*.pyc
__pycache__/

/instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

okit.wpr

output/
log/

.scannerwork

.vagrant

containers/.oci
**/*.pem

containers/oci/*
!containers/oci/example_config
!containers/cloud

containers/ssh/*
!containers/ssh/example_config

!okitweb/static/model
/docker-compose.yml
/containers/runtime/

**/node_modules
**/package-lock.json

okitweb/static/okit/json/dropdown_data/*
okitweb/static/okit/templates/user/*

**/test/model
**/test/properties

