/*
** SVG Look & Feel Variables
*/
:root {
    --console-background-colour: #ffffff;

    --dialog-background-colour: #ffffff;
    --dialog-border-colour: #131243;
    --dialog-title-background-colour: #ffffff;
    --dialog-title-colour: black;
    --dialog-body-background-colour: #ffffff;
    --dialog-body-colour: black;
    --dialog-footer-background-colour: #ffffff;
    --dialog-footer-colour: #161513;
    --dialog-input-border-colour: #131243;
    --dialog-input-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    --dialog-input-font-size: smaller;
    --dialog-highlight-colour: #e6e8f4;
}

/*
** Standard Element
*/

details > summary.summary-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMjAgMCkiPjxlbGxpcHNlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgY3g9IjYuMTEiIGN5PSIzLjU1IiByeD0iMi4xMSIgcnk9IjIuMTUiLz48ZWxsaXBzZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGN4PSI2LjExIiBjeT0iMTUuNTUiIHJ4PSIyLjExIiByeT0iMi4xNSIvPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBjeD0iMTMuMTUiIGN5PSI5LjU1IiByPSIyLjE1Ii8+PHBhdGggZD0iTTEgM2gzdjFIMXpNMTAgM2g4djFoLTh6TTEgOWg4djFIMXpNMTUgOWgzdjFoLTN6TTEgMTVoM3YxSDF6TTEwIDE1aDh2MWgtOHoiLz48L2c+PC9zdmc+");
}

details[open] > summary.summary-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGVsbGlwc2UgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBjeD0iNi4xMSIgY3k9IjMuNTUiIHJ4PSIyLjExIiByeT0iMi4xNSIvPjxlbGxpcHNlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgY3g9IjYuMTEiIGN5PSIxNS41NSIgcng9IjIuMTEiIHJ5PSIyLjE1Ii8+PGNpcmNsZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGN4PSIxMy4xNSIgY3k9IjkuNTUiIHI9IjIuMTUiLz48cGF0aCBkPSJNMSAzaDN2MUgxek0xMCAzaDh2MWgtOHpNMSA5aDh2MUgxek0xNSA5aDN2MWgtM3pNMSAxNWgzdjFIMXpNMTAgMTVoOHYxaC04eiIvPjwvc3ZnPg==");
}

/*
** Icons
*/
.palette {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjI1IDEwYTYuNzUgNi43NSAwIDExNC42NDYgNi40MTZjLjI0LS41NzMuMzU0LTEuMTk5LjM1NC0xLjgzM2E0LjUgNC41IDAgMDAtNS00LjQ3MlYxMHpNMTAgMS43NUE4LjI1IDguMjUgMCAwMDEuNzUgMTB2Mi4xMDdsMS0uMzUzYTMgMyAwIDAxNCAyLjgzYzAgLjY4OC0uMTg3IDEuMzAzLS41MjggMS43NzRsLS41MzMuNzM2LjgyMi4zODRBOC4yNSA4LjI1IDAgMTAxMCAxLjc1ek04LjMzMyA4LjMzM2ExLjY2NyAxLjY2NyAwIDEwMC0zLjMzMyAxLjY2NyAxLjY2NyAwIDAwMCAzLjMzM3ptNi42NjcgMGExLjY2NyAxLjY2NyAwIDExLTMuMzMzIDAgMS42NjcgMS42NjcgMCAwMTMuMzMzIDB6TTExLjY2NyAxNWExLjY2NyAxLjY2NyAwIDEwMC0zLjMzMyAxLjY2NyAxLjY2NyAwIDAwMCAzLjMzM3oiIGZpbGw9IiMxNjE1MTMiLz48L3N2Zz4=");
}

.palette-list {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMzMzIDMuMTY3aDEwTTcuMzMzIDloMTBtLTEwIDUuODMzaDEwTTQuODMzIDMuMTY3YTEuNjY3IDEuNjY3IDAgMTEtMy4zMzMgMCAxLjY2NyAxLjY2NyAwIDAxMy4zMzMgMHptMCA1LjgzM0ExLjY2NyAxLjY2NyAwIDExMS41IDlhMS42NjcgMS42NjcgMCAwMTMuMzMzIDB6bTAgNS44MzNhMS42NjcgMS42NjcgMCAxMS0zLjMzMyAwIDEuNjY3IDEuNjY3IDAgMDEzLjMzMyAweiIgc3Ryb2tlPSIjMTYxNTEzIiBzdHJva2Utd2lkdGg9IjEuODc1Ii8+PC9zdmc+");
}

.palette-icons {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMzMzIDEuNUgxLjV2NS44MzNoNS44MzNWMS41ek03LjMzMyAxMC42NjdIMS41VjE2LjVoNS44MzN2LTUuODMzek0xNi41IDEuNWgtNS44MzN2NS44MzNIMTYuNVYxLjV6TTE2LjUgMTAuNjY3aC01LjgzM1YxNi41SDE2LjV2LTUuODMzeiIgc3Ryb2tlPSIjMjIyIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvc3ZnPg==");
}

.explorer {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgNC44MzNoMi41TTQgOWgyLjVNNCAxMy4xNjdoMi41bTEuNjY3LTguMzM0SDE0TTguMTY3IDlIMTRtLTUuODMzIDQuMTY3SDE0TTEuNSAxLjVoMTV2MTVoLTE1di0xNXoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L3N2Zz4=");
}

.properties {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIuNSAyLjV2LS43NWgtLjc1di43NWguNzV6bTAgMTVoLS43NXYuNzVoLjc1di0uNzV6bTguMzMzLTE1bC41My0uNTMtLjIxOS0uMjJoLS4zMXYuNzV6bTUgNXYuNzVhLjc1Ljc1IDAgMDAuNTMtMS4yOGwtLjUzLjUzem0tNSAwaC0uNzV2Ljc1aC43NVY3LjV6bTAgNy41bC0uNTMtLjUzLS4yMi4yMlYxNWguNzV6bTAgMi41aC0uNzV2Ljc1aC43NXYtLjc1em0yLjUgMHYuNzVoLjMxMWwuMjItLjIyLS41My0uNTN6bTQuMTY3LTQuMTY3bC41My41M2EuNzUuNzUgMCAwMDAtMS4wNmwtLjUzLjUzem0tMi41LTIuNWwuNTMtLjUzYS43NS43NSAwIDAwLTEuMDYgMGwuNTMuNTN6TTEuNzUgMi41djE1aDEuNXYtMTVoLTEuNXptLjc1IDE1Ljc1aDUuODMzdi0xLjVIMi41djEuNXptMC0xNWg4LjMzM3YtMS41SDIuNXYxLjV6bTcuODAzLS4yMmw1IDUgMS4wNi0xLjA2LTUtNS0xLjA2IDEuMDZ6bTUuNTMgMy43MmgtNXYxLjVoNXYtMS41em0tNC4yNS43NXYtNWgtMS41djVoMS41em0tMS41IDcuNXYyLjVoMS41VjE1aC0xLjV6bS43NSAzLjI1aDIuNXYtMS41aC0yLjV2MS41em0zLjAzLS4yMmw0LjE2Ny00LjE2Ni0xLjA2LTEuMDYxLTQuMTY3IDQuMTY3IDEuMDYgMS4wNnptNC4xNjctNS4yMjdsLTIuNS0yLjUtMS4wNiAxLjA2IDIuNSAyLjUgMS4wNi0xLjA2em0tMy41Ni0yLjVsLTQuMTY3IDQuMTY3IDEuMDYgMS4wNiA0LjE2Ny00LjE2Ni0xLjA2LTEuMDYxeiIgZmlsbD0iIzIyMiIvPjwvc3ZnPg==");
}

.zoom-in {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguMTY3IDExLjVWNC44MzNNNC44MzMgOC4xNjdIMTEuNW01IDguMzMzbC0zLjYtMy42MzltMS45MzMtNC42OTRhNi42NjcgNi42NjcgMCAxMS0xMy4zMzMgMCA2LjY2NyA2LjY2NyAwIDAxMTMuMzMzIDB6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+");
}

.zoom-121 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzIDloMG02IDEwbC00LjM0LTQuMzQ3TTE3IDlBOCA4IDAgMTExIDlhOCA4IDAgMDExNiAweiIgc3Ryb2tlPSIjMTYxNTEzIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=");
}

.zoom-out {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuODMzIDguMTY3SDExLjVtNSA4LjMzM2wtMy42MTYtMy42MjJtMS45NS00LjcxMWE2LjY2NyA2LjY2NyAwIDExLTEzLjMzNCAwIDYuNjY3IDYuNjY3IDAgMDExMy4zMzMgMHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L3N2Zz4=");
}

.validate {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDIwbDYgNiAxNC0xNG04IDhjMCA5Ljk0MS04LjA1OSAxOC0xOCAxOFMyIDI5Ljk0MSAyIDIwIDEwLjA1OSAyIDIwIDJzMTggOC4wNTkgMTggMTh6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjwvc3ZnPg==");
}

.threedotmenu {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAxNWExLjY2NyAxLjY2NyAwIDExMCAzLjMzM0ExLjY2NyAxLjY2NyAwIDAxMTAgMTV6bTEuNjY3LTVhMS42NjcgMS42NjcgMCAxMC0zLjMzNCAwIDEuNjY3IDEuNjY3IDAgMDAzLjMzNCAwem0wLTYuNjY3YTEuNjY3IDEuNjY3IDAgMTAtMy4zMzQgMCAxLjY2NyAxLjY2NyAwIDAwMy4zMzQgMHoiIGZpbGw9IiMyMjIiLz48L3N2Zz4=");
}

.cost-estimate {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI4IDEySDE2YTQgNCAwIDAwMCA4aDhhNCA0IDAgMDEwIDhIMTJtOC0yMHYyNG0xOC0xMmMwIDkuOTQxLTguMDU5IDE4LTE4IDE4UzIgMjkuOTQxIDIgMjAgMTAuMDU5IDIgMjAgMnMxOCA4LjA1OSAxOCAxOHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.eye-show {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDJDMTIuMiAyIDUuMzMzIDExLjMzMyAzIDE2YzUuNiAxMS4yIDE0LjMzMyAxNCAxOCAxNCA4LjguOCAxNS42NjctOSAxOC0xNEMzNC4yIDQuOCAyNSAyIDIxIDJ6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjxwYXRoIGQ9Ik0yNyAxNmE2IDYgMCAxMS0xMiAwIDYgNiAwIDAxMTIgMHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.eye-hide {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDguNjM4QTEzLjE0NiAxMy4xNDYgMCAwMTIyIDhjNCAwIDEzLjIgMi43OTUgMTggMTMuOTc3LS44MTYgMS43NDYtMi4xODYgNC4wNzctNCA2LjMzOG0tMi4yNzcgMi41MzNDMzAuNTY4IDMzLjk2IDI2LjU0MiAzNi4zNjYgMjIgMzUuOTU0Yy0zLjY2NyAwLTEyLjQtMi43OTYtMTgtMTMuOTc3IDEuMzM4LTIuNjczIDQuMTY5LTYuODc4IDgtOS45NzltMTQuMjQzIDE0LjI0NWE2IDYgMCAxMS04LjQ4Ni04LjQ4Nk0yIDJsNDAgNDAiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.add-plus {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDB2NDBtMjAtMjBIMCIgc3Ryb2tlPSIjMTYxNTEzIiBzdHJva2Utd2lkdGg9IjQiLz48L3N2Zz4=");
}

.left-palette {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDE0SDJtMTIgMjRWMTRNMiAyaDM2djM2SDJWMnoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.padlock-open {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDJhMyAzIDAgMDAtMyAzdjQuOTI5aDExdjEyLjA2SDRWOS45MjhoM1Y1YTUgNSAwIDAxMTAgMHYxaC0yVjVhMyAzIDAgMDAtMy0zem0tNiA5LjkyOXY4LjA2aDEydi04LjA2SDZ6IiBmaWxsPSIjMTYxNTEzIi8+PHBhdGggZD0iTTEwIDE3di0yaDR2MmgtNHoiIGZpbGw9IiMxNjE1MTMiLz48L3N2Zz4=");
}

.padlock-closed {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDRhMyAzIDAgMDEzIDN2M0g5VjdhMyAzIDAgMDEzLTN6bTUgNlY3QTUgNSAwIDAwNyA3djNINHYxMmgxNlYxMGgtM3pNNiAxMmgxMnY4SDZ2LTh6IiBmaWxsPSIjMTYxNTEzIi8+PHBhdGggZD0iTTExIDE0aDJ2NGgtMnYtNHoiIGZpbGw9IiMxNjE1MTMiLz48L3N2Zz4=");
}

.add-property {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUgMTBoMTBtLTUtNXYxME0xIDFoMTh2MThIMVYxeiIgc3Ryb2tlPSIjMDQ3NTBhIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=");
}

.delete-property {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNzU3IDUuNzU3bDguNDg2IDguNDg2bTAtOC40ODZsLTguNDg2IDguNDg2TTEgMWgxOHYxOEgxVjF6IiBzdHJva2U9IiNiODEyMTIiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==");
}

.delete-layer {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNzU3IDUuNzU3bDguNDg2IDguNDg2bTAtOC40ODZsLTguNDg2IDguNDg2TTEgMWgxOHYxOEgxVjF6IiBzdHJva2U9IiNiODEyMTIiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==");
}

.three-dot-menu {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAxNWExLjY2NyAxLjY2NyAwIDExMCAzLjMzM0ExLjY2NyAxLjY2NyAwIDAxMTAgMTV6bTEuNjY3LTVhMS42NjcgMS42NjcgMCAxMC0zLjMzNCAwIDEuNjY3IDEuNjY3IDAgMDAzLjMzNCAwem0wLTYuNjY3YTEuNjY3IDEuNjY3IDAgMTAtMy4zMzQgMCAxLjY2NyAxLjY2NyAwIDAwMy4zMzQgMHoiIGZpbGw9IiMyMjIiLz48L3N2Zz4=");
}

.sort-ascending {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM2IDE4TDI0IDMwIDEyIDE4IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjwvc3ZnPg==");
}

.sort-descending {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDMwbDEyLTEyIDEyIDEyIiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjwvc3ZnPg==");
}

.ocd-design-modified {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDE0Yy0zIDIuNjY3LTcuMiAxMC40IDAgMjBtLTQuNDM0LTI0Yy00LjIgMy43MzMtMTAuMDggMTQuNTYgMCAyOE0zMiAxNGMzIDIuNjY3IDcuMiAxMC40IDAgMjBtNC40MzQtMjRjNC4yIDMuNzMzIDEwLjA4IDE0LjU2IDAgMjhNMjggMjRhNCA0IDAgMTEtOCAwIDQgNCAwIDAxOCAweiIgc3Ryb2tlPSIjMDQ0MGMwIiBzdHJva2Utd2lkdGg9IjQiLz48L3N2Zz4=")
}

.ocd-validation-ok {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTggMjRING00MCAwaC00TTI0IDQwdjRtMC00MHY0bS0xMiA0TDggOG0yOCA0bDQtNG0tNCAyOGw0IDRtLTI4LTRsLTQgNG0yNi0xNmMwIDUuNTIzLTQuNDc3IDEwLTEwIDEwcy0xMC00LjQ3Ny0xMC0xMCA0LjQ3Ny0xMCAxMC0xMCAxMCA0LjQ3NyAxMCAxMHoiIHN0cm9rZT0iIzAxNzEwMSIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.ocd-validation-warning {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM0IDMwaDRhNiA2IDAgMTEwIDEySDEyYTggOCAwIDAxLTgtOGMwLTMuNzc2IDIuNjI0LTYuOTIyIDYuMTQ0LTcuNzYyQzEwLjk5OCAyMC40NDggMTUuOTcyIDE2IDIyIDE2YzYuNjI2IDAgMTIgNS4zNzIgMTIgMTJ2MnptMCAwaC0yYTYgNiAwIDAwLTYgNm0xNC0xNGg2bS04LTZsNi00bS0xMCAwbDQtNm0tMTAgNFY0IiBzdHJva2U9IiNiYzQ0MDgiIHN0cm9rZS13aWR0aD0iNCIvPjwvc3ZnPg==");
}

.ocd-validation-error {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDMyYTggOCAwIDAxLTgtOGMwLTMuNzc2IDIuNjI0LTYuOTIyIDYuMTQ0LTcuNzYyQzEwLjk5OCAxMC40NDggMTUuOTcyIDYgMjIgNmM2LjYyNiAwIDEyIDUuMzcyIDEyIDEydjJoNGE2IDYgMCAxMTAgMTJtLTE0LThsLTYgMTBoMTJsLTYgMTAiIHN0cm9rZT0iIzkwMDIwMiIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

/*
** Element Themes
*/

.ocd-designer-tab-bar-theme {
    background-color: white;
}

.ocd-designer-tab-theme {
    background-color: white;
}

.ocd-designer-active-tab-theme {
    background-color: #d1d1d4;
}

.ocd-properties-panel-theme {
    background-color: white;
}

details > summary.summary-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgMjAgMCkiPjxlbGxpcHNlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgY3g9IjYuMTEiIGN5PSIzLjU1IiByeD0iMi4xMSIgcnk9IjIuMTUiLz48ZWxsaXBzZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGN4PSI2LjExIiBjeT0iMTUuNTUiIHJ4PSIyLjExIiByeT0iMi4xNSIvPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBjeD0iMTMuMTUiIGN5PSI5LjU1IiByPSIyLjE1Ii8+PHBhdGggZD0iTTEgM2gzdjFIMXpNMTAgM2g4djFoLTh6TTEgOWg4djFIMXpNMTUgOWgzdjFoLTN6TTEgMTVoM3YxSDF6TTEwIDE1aDh2MWgtOHoiLz48L2c+PC9zdmc+");
}

details[open] > summary.summary-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGVsbGlwc2UgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBjeD0iNi4xMSIgY3k9IjMuNTUiIHJ4PSIyLjExIiByeT0iMi4xNSIvPjxlbGxpcHNlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgY3g9IjYuMTEiIGN5PSIxNS41NSIgcng9IjIuMTEiIHJ5PSIyLjE1Ii8+PGNpcmNsZSBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIGN4PSIxMy4xNSIgY3k9IjkuNTUiIHI9IjIuMTUiLz48cGF0aCBkPSJNMSAzaDN2MUgxek0xMCAzaDh2MWgtOHpNMSA5aDh2MUgxek0xNSA5aDN2MWgtM3pNMSAxNWgzdjFIMXpNMTAgMTVoOHYxaC04eiIvPjwvc3ZnPg==");
}
