{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
{% macro document_vm_cluster(resource) -%}
{{ common.document_common_details(resource) }}
{{ common.document_common_properties(resource) }}
{{ common.document_property("Shape", resource.shape) }}
{{ common.document_property("Cpus Enabled", resource.cpus_enabled) }}
{{ common.document_property("Data Storage Tbs", resource.data_storage_size_in_tbs) }}
{{ common.document_property("Node Storage Gbs", resource.db_node_storage_size_in_gbs) }}
{{ common.document_property("Memory Gbs", resource.memory_size_in_gbs) }}
{{ common.document_tags(resource) }}
{%- endmacro %}
{% for vm_cluster in vm_clusters -%}
    {{ document_vm_cluster(vm_cluster) }}
{%- endfor %}