
# ------ Create Autonomous Database
# -------- If Workload OLTP
    - name: Create Autonomous OLTP Database
      oci_autonomous_database:
        region: "{{ region }}"
        state:  "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        admin_password: "{{ admin_password }}"
        data_storage_size_in_tbs: "{{ data_storage_size_in_tbs | safe }}"
        cpu_core_count: "{{ cpu_core_count | safe }}"
        db_name: "{{ db_name | safe }}"
        # Optional
        display_name: "{{ display_name | safe }}"
        #initial_data_storage_size_in_tbs: 2
{% if license_model is defined %}
        license_model: "{{ license_model | safe }}"
{% endif %}
        #node_count: 1
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      when: {{ db_workload | safe | replace('{{ ', '') | replace(' }}', '') }} == "OLTP"
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.autonomous_database.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.autonomous_database.id {{ '}}' }}"
      when: {{ db_workload | replace('{{ ', '') | replace(' }}', '') }} == "OLTP"

# -------- If Workload DW
    - name: Create Autonomous Database Warehouse
      oci_autonomous_database:
        state:  "{{ '{{' }} state | default('present') {{ '}}' }}"
        # Required
        compartment_id: "{{ compartment_ocid }}"
        admin_password: "{{ admin_password | safe }}"
        data_storage_size_in_tbs: "{{ data_storage_size_in_tbs | safe }}"
        cpu_core_count: "{{ cpu_core_count | safe }}"
        db_name: "{{ db_name | safe }}"
        # Optional
        display_name: "{{ display_name | safe }}"
        #initial_data_storage_size_in_tbs: 2
        #license_model: "{{ license_model | safe }}"
        #node_count: 1
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      when: {{ db_workload | safe | replace('{{ ', '') | replace(' }}', '') }} != "OLTP"
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.autonomous_data_warehouse.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.autonomous_data_warehouse.id {{ '}}' }}"
      when: {{ db_workload | replace('{{ ', '') | replace(' }}', '') }} != "OLTP"

