
# ------ Get List Volume Backup Policies
    - name: Get information of all available volume backup policies
      oci_volume_backup_policy_facts:
        region: "{{ region }}"
      register: {{ resource_name }}VolumeBackupPolicyIds

# ------ Create Block Storage Volume {{ output_name }}
    - name: Create Block Storage Volume {{ output_name }}
      oci_volume:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        availability_domain: "{{ '{{' }} (AvailabilityDomains.availability_domains | sort(attribute='name') | map(attribute='name') | list)[{{ availability_domain | safe | replace('{{', '') | replace('}}', '') }} | default(1) | int - 1] {{ '}}' }}"
        # Optional
        display_name: "{{ display_name | safe }}"
        size_in_gbs: "{{ size_in_gbs | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.volume.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.volume.id {{ '}}' }}"

# ------ Create Block Storage Backup Policy For {{ output_name }}
    - name: Create Volume Backup Policy Assignment {{ output_name }}
      oci_volume_backup_policy_assignment:
        region: "{{ region }}"
        asset_id: "{{ '{{' }} {{ resource_name }}_id {{ '}}' }}"
        policy_id: "{{ '{{' }} ({{ resource_name }}VolumeBackupPolicyIds.volume_backup_policies | selectattr('display_name', 'equalto', {{ backup_policy | safe | replace('{{', '') | replace('}}', '') }}) | map(attribute='id') | list)[0] {{ '}}' }}"
      register: {{ resource_name }}BackupPolicy
