
# ------ Create Compartment - Root {{ root_compartment }}
{% if root_compartment is sameas true %}
# ------ Root Compartment
    - set_fact:
        {{ resource_name }}_id: "{{ compartment_ocid }}"
        {{ resource_name }}_ocid: "{{ compartment_ocid }}"
{% else %}
# ------ Create Compartment
    - name: Get Compartment {{ output_name }}
      oci_compartment_facts:
        region: "{{ '{{' }} HomeRegion.region_name {{ '}}' }}"
        compartment_id: "{{ compartment_id }}"
        name: "{{ display_name | safe }}"
        fetch_subcompartments: True
      register: {{ resource_name }}List

    - name: Create Compartment {{ output_name }}
      oci_compartment:
        region: "{{ '{{' }} HomeRegion.region_name {{ '}}' }}"
        state: "present"
        # Required
        parent_compartment_id: "{{ compartment_id }}"
        name: "{{ display_name | safe }}"
        description: "{{ description | safe }}"
        # Optional
    {% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
    {% endif %}
    {% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
    {% endif %}
        wait_until: "ACTIVE"
      register: {{ resource_name }}
      when:
        - {{ resource_name }}List.compartments | length == 0

    - name: Get Compartment {{ output_name }}
      oci_compartment_facts:
        region: "{{ '{{' }} HomeRegion.region_name {{ '}}' }}"
        compartment_id: "{{ compartment_id }}"
        name: "{{ display_name | safe }}"
        fetch_subcompartments: True
      register: {{ resource_name }}List

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} ({{ resource_name }}List.compartments | map(attribute='id') | list | first) {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} ({{ resource_name }}List.compartments | map(attribute='id') | list | first) {{ '}}' }}"

    - pause:
        seconds: 10
{% endif %}


