
# ------ Create File Storage System
    - name: Create File System
      oci_file_system:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        availability_domain: "{{ '{{' }} (AvailabilityDomains.availability_domains | sort(attribute='name') | map(attribute='name') | list)[{{ availability_domain | safe | replace('{{', '') | replace('}}', '') }} | default(1) | int - 1] {{ '}}' }}"
        # Optional
        display_name: "{{ display_name | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.file_system.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.file_system.id {{ '}}' }}"

# ------ Create File Storage Mount Target
    - name: Create Mount Target
      oci_mount_target:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_ocid }}"
        availability_domain: "{{ '{{' }} (AvailabilityDomains.availability_domains | sort(attribute='name') | map(attribute='name') | list)[{{ availability_domain | safe | replace('{{', '') | replace('}}', '') }} | default(1) | int - 1] {{ '}}' }}"
        subnet_id: "{{ subnet_id }}"
        # Optional
        display_name: "{{ display_name | safe }}"
        hostname_label: "{{ hostname_label | safe }}"
        #ip_address: "{{ ip_address }}"
{% if nsg_ids is defined %}
        nsg_ids: [{% for nsg_id in nsg_ids %}{{ nsg_id }}{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}MountTarget

    - set_fact:
        {{ resource_name }}MountTarget_id: "{{ '{{' }} {{ resource_name }}MountTarget.mount_target.id {{ '}}' }}"
        {{ resource_name }}MountTarget_ocid: "{{ '{{' }} {{ resource_name }}MountTarget.mount_target.id {{ '}}' }}"
        {{ resource_name }}MountTarget_export_set_id: "{{ '{{' }} {{ resource_name }}MountTarget.mount_target.export_set_id {{ '}}' }}"

# ------ Create File Storage Export Set
    - name: List all Export Set in a compartment and availability domain
      oci_export_set_facts:
        region: "{{ region }}"
#        compartment_id: "{{ compartment_ocid }}"
#        availability_domain: "{{ '{{' }} (AvailabilityDomains.availability_domains | sort(attribute='name') | map(attribute='name') | list)[{{ availability_domain | safe | replace('{{', '') | replace('}}', '') }} | default(1) | int - 1] {{ '}}' }}"
        export_set_id: "{{ '{{' }} {{ resource_name }}MountTarget_export_set_id {{ '}}' }}"
      register: {{ resource_name }}ExportSet

#    - debug:
#        msg: "{{ '{{' }} {{ resource_name }}ExportSet.export_sets {{ '}}' }}"

# ------ Create File Storage Export
    - name: Create Export
      oci_export:
        region: "{{ region }}"
        state: 'present'
        file_system_id: "{{ '{{' }} {{ resource_name }}_id {{ '}}' }}"
        export_set_id: "{{ '{{' }} {{ resource_name }}MountTarget_export_set_id {{ '}}' }}"
        path: "{{ path | safe }}"
        export_options:
            - source: "{{ source | safe }}"
              access: "{{ access | safe }}"
#              require_privileged_source_port: False
#              identity_squash: 'NONE'
      register: {{ resource_name }}Export
