
# ------ Get List OL7 Images
    - name: List images
      oci_image_facts:
        region: "{{ region }}"
        compartment_id: "{{ compartment_ocid }}"
        operating_system: "{{ os | safe }}"
        operating_system_version: "{{ os_version | safe }}"
        shape: "{{ shape | safe }}"
      register: {{ resource_name }}Images

# ------ Create Instance {{ output_name }}
    - name: Create Instance {{ output_name }}
      oci_instance:
        region: "{{ region }}"
        state: "present"
        # Required
        availability_domain: "{{ '{{' }} (AvailabilityDomains.availability_domains | sort(attribute='name') | map(attribute='name') | list)[{{ availability_domain | safe | replace('{{', '') | replace('}}', '') }} | default(1) | int - 1] {{ '}}' }}"
        compartment_id: "{{ compartment_id }}"
        shape: "{{ shape | safe }}"
        # Optional
        display_name: "{{ display_name | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
        metadata:
            ssh_authorized_keys: "{{ authorized_keys | safe }}"
{% if cloud_init_yaml is defined %}
            user_data: "{{ cloud_init_yaml | replace(' }}', '') }} | b64encode {{ '}}' }}"
{% endif %}
        source_details:
            # Required
            source_type: "{{ source_type | safe }}"
            image_id: "{{ '{{' }} ({{ resource_name }}Images.images | map(attribute='id') | first) {{ '}}' }}"
            # Optional
{% if boot_volume_size_in_gbs is defined %}
            boot_volume_size_in_gbs: "{{ boot_volume_size_in_gbs | safe }}"
{% endif %}
        create_vnic_details:
            # Required
            subnet_id: "{{ subnet_id }}"
            # Optional
{% if assign_public_ip is defined %}
            assign_public_ip: "{{ assign_public_ip | safe }}"
{% endif %}
            name: "{{ display_name_vnic }}"
            hostname_label: "{{ hostname_label | safe }}"
{% if private_ip is defined %}
            private_ip: "{{ private_ip | safe }}"
{% endif %}
{% if skip_source_dest_check is defined %}
            skip_source_dest_check: "{{ skip_source_dest_check | safe }}"
{% endif %}
{% if nsg_ids is defined %}
            nsg_ids: [{% for nsg_id in nsg_ids %}{{ nsg_id }}{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.instance.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.instance.id {{ '}}' }}"

# ------ Get Vnic Attachments for Instance {{ output_name }}
    - name: Get VNIC Attachments for {{ output_name }}
      oci_vnic_attachment_facts:
        region: "{{ region }}"
        compartment_id: "{{ compartment_id }}"
        instance_id: "{{ '{{' }} {{ resource_name }}_ocid {{ '}}' }}"
      register: {{ resource_name }}VnicAttachments

# ------ Get Primary Vnic for Instance {{ output_name }}
    - name: Get Primary VNIC for {{ output_name }}
      oci_vnic_facts:
        region: "{{ region }}"
        id: "{{ '{{' }} ({{ resource_name }}VnicAttachments.vnic_attachments | map(attribute='vnic_id') | first) {{ '}}' }}"
      register: {{ resource_name }}PrimaryVnic

    - set_fact:
        {{ resource_name }}_public_ip: "{{ '{{' }} {{ resource_name }}PrimaryVnic.vnic.public_ip {{ '}}' }}"
        {{ resource_name }}_private_ip: "{{ '{{' }} {{ resource_name }}PrimaryVnic.vnic.private_ip {{ '}}' }}"

# ------ Create Block Storage Attachments for Instance {{ output_name }}
{% for volume in volume_attachments %}
    - name: Attach volume {{ loop.index }} to {{ output_name }} instance
      oci_volume_attachment:
        region: "{{ region }}"
        instance_id: "{{ '{{' }} {{ resource_name }}_ocid {{ '}}' }}"
        type: "{{ volume.attachment_type | safe }}"
        volume_id: "{{ volume.block_storage_volume_id }}"
        display_name: "{{ volume.display_name | safe }}"
{% endfor %}

# ------ Create Vnic Attachments for Instance {{ output_name }}
{% for vnic in vnic_attachments %}
    - name: Attach vnic {{ loop.index }} to {{ output_name }} instance
      oci_vnic_attachment:
        region: "{{ region }}"
        instance_id: "{{ '{{' }} {{ resource_name }}_ocid {{ '}}' }}"
        display_name: "{{ vnic.display_name | safe }}"
        vnic:
            subnet_id: "{{ vnic.subnet_id }}"
            hostname_label: "{{ vnic.hostname_label | safe }}"
    {% if vnic.assign_public_ip is defined %}
            assign_public_ip: "{{ vnic.assign_public_ip | safe }}"
    {% endif %}
    {% if vnic.private_ip is defined %}
            private_ip: "{{ vnic.private_ip | safe }}"
    {% endif %}
    {% if vnic.skip_source_dest_check is defined %}
            skip_source_dest_check: "{{ vnic.skip_source_dest_check | safe }}"
    {% endif %}
    {% if vnic.nsg_ids is defined %}
            nsg_ids: [{% for nsg_id in vnic.nsg_ids %}{{ nsg_id }}{% if not loop.last %},{% endif %}{% endfor %}]
    {% endif %}

{% endfor %}
