
# ------ Create Loadbalancer
    - name: Create Load Balancer
      oci_load_balancer:
        region: "{{ region }}"
        state: 'present'
        # Required
        compartment_id: "{{ compartment_id }}"
        shape_name: "{{ shape | safe }}"
        subnet_ids:
{% for subnet_id in loadbalancer_subnet_ids %}
            - "{{ subnet_id }}"
{% endfor %}
        # Optional
        display_name: "{{ display_name | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
{% if private is defined %}
        is_private: "{{ is_private | safe }}"
{% endif %}
{% if ip_mode is defined %}
        ip_mode: "{{ ip_mode | safe }}"
{% endif %}
{% if network_security_group_ids is defined %}
        network_security_group_ids:
    {% for group_id in network_security_group_ids %}
             - "{{ group_id }}"
    {% endfor %}
{% endif %}
        backend_sets:
            {{ resource_name }}BackendSet:
                backends:
{% for backend_instance in backend_instances %}
                   - ip_address: "{{ '{{' }} {{ backend_instance }}_private_ip {{ '}}' }}"
    {% if port is defined %}
                     port: "{{ port | safe }}"
    {% else %}
                     port: 80
    {% endif %}
{% endfor %}
                health_checker:
{% if health_check_interval is defined %}
                    interval_in_millis: "{{ health_check_interval | safe | default(5000) }}"
{% else %}
                    interval_in_millis: 1000
{% endif %}
{% if port is defined %}
                    port: "{{ port | safe }}"
{% else %}
                    port: 80
{% endif %}
                    protocol: "{{ protocol | safe }}"
                    #response_body_regex: "{{ health_check_response_regex | safe }}"
{% if health_check_retries is defined %}
                    retries: "{{ health_check_retries | safe }}"
{% else %}
                    retries: 1000
{% endif %}
                    timeout_in_millis: "{{ health_check_timeout | safe | default(3000) }}"
                    #return_code: "{{ health_check_return_code | default(200) }}"
                    url_path: "{{ url_path | safe }}"
                policy: "{{ backend_policy | default('ROUND_ROBIN') }}"
        listeners:
            {{ resource_name }}Listener:
                default_backend_set_name: "{{ resource_name }}BackendSet"
{% if port is defined %}
                port: "{{ port }}"
{% else %}
                port: 80
{% endif %}
                protocol: "{{ protocol | default('HTTP') }}"
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.load_balancer.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.load_balancer.id {{ '}}' }}"
