
# ------ Create Local Peering Gateway
    - name: Create Local Peering Gateway {{ output_name }}
      oci_local_peering_gateway:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        vcn_id: "{{ vcn_id }}"
        # Optional
        display_name: "{{ display_name | safe }}"
{% if route_table_id is defined %}
        route_table_id: "{{ route_table_id }}"
{% endif %}
{% if peer_id is defined %}
        peer_id: "{{ peer_id }}"
{% endif %}
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.local_peering_gateway.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.local_peering_gateway.id {{ '}}' }}"
