
# ------ Create Network Security Group
    - name: Create Network Security Group {{ output_name }}
      oci_network_security_group:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        vcn_id: "{{ vcn_id }}"
        # Optional
        display_name: "{{ display_name | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.network_security_group.id {{ '}}' }}"
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.network_security_group.id {{ '}}' }}"



# ------ Create Network Security Group
    - name: Create Network Security Group Rule {{ output_name }}Rules
      oci_security_rule_actions:
        region: "{{ region }}"
        state: "present"
        action: add_network_security_group_security_rules
        # Required
        network_security_group_id: "{{ resource_name }}_id"
        security_rules:
{% for rule in security_rules %}
        - description: "{{ rule.description | safe }}"
          direction: "{{ rule.direction | safe }}"
    {% if rule.destination is defined %}
          destination: "{{ rule.destination | safe }}"
    {% endif %}
    {% if rule.destination_type is defined %}
          destination_type: "{{ rule.destination_type | safe }}"
    {% endif %}
    {% if rule.source is defined %}
          source: "{{ rule.source | safe }}"
    {% endif %}
    {% if rule.source_type is defined %}
          source_type: "{{ rule.source_type | safe }}"
    {% endif %}
          protocol: "{{ rule.protocol | safe }}"
    {% if rule.tcp_options is defined %}
          tcp_options:
        {% if rule.tcp_options.destination_port_range is defined %}
            destination_port_range:
                min: {{ rule.tcp_options.destination_port_range.min | safe }}
                max: {{ rule.tcp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.tcp_options.source_port_range is defined %}
            source_port_range:
                min: {{ rule.tcp_options.source_port_range.min | safe }}
                max: {{ rule.tcp_options.source_port_range.max | safe }}
        {% endif %}
    {% endif %}
    {% if rule.udp_options is defined %}
          udp_options:
        {% if rule.udp_options.destination_port_range is defined %}
            destination_port_range:
                min: {{ rule.udp_options.destination_port_range.min | safe }}
                max: {{ rule.udp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.udp_options.source_port_range is defined %}
            source_port_range:
                min: {{ rule.udp_options.source_port_range.min | safe }}
                max: {{ rule.udp_options.source_port_range.max | safe }}
        {% endif %}
    {% endif %}
    {% if rule.icmp_options is defined %}
          icmp_options:
            type: {{ rule.icmp_options.type | safe }}
        {% if rule.icmp_options.code is defined %}
            code: {{ rule.icmp_options.code | safe }}
        {% endif %}
    {% endif %}
{% endfor %}
      register: {{ resource_name }}Rules

