---
# -- Copyright: {{ copyright }}
# ---- Author : {{ author }}
- name: Create / Update / Destroy Nat Instance Infrastructure
  hosts: localhost
  connection: local
  vars_files:
    - variables.yml
  tasks: