
# ------ Retrieve Regional / Cloud Data
# -------- Get a list of Availability Domains
    - name: Get details of all the availability domains in your tenancy for a specified non-default region
      oci_ad_facts:
        compartment_id: "{{ compartment_ocid }}"
        region: "{{ region }}"
      register: AvailabilityDomains

# -------- Get Home Region Name
    - name: Get Region Subscription
      oci_region_subscription_facts:
        id: "{{ tenancy_ocid }}"
      register: RegionSubscriptions

    - set_fact:
        HomeRegion: "{{ '{{' }} (RegionSubscriptions.region_subscriptions | selectattr('is_home_region') | list)[0] {{ '}}' }}"
        HomeRegionName: "{{ '{{' }} (RegionSubscriptions.region_subscriptions | selectattr('is_home_region') | map(attribute='region_name') | list)[0] {{ '}}' }}"

#    - debug: msg="{{ '{{' }} HomeRegion {{ '}}' }}"
    - debug: msg="Home Region {{ '{{' }} HomeRegionName {{ '}}' }}"
    - debug: msg="Working Region {{ region }}"

    - name: Get details of all the available services
      oci_service_facts:
        region: "{{ region }}"
      register: RegionServices

