
# -- Copyright: {{ copyright }}
# ---- Author : {{ author }}
# ------ Create Route Table
    - name: Create Route Table {{ output_name }}
      oci_route_table:
        # Required
        state: "present"
        compartment_id: "{{ compartment_ocid }}"
        vcn_id: "{{ vcn_id }}"
        route_rules:
{% for rule in route_rules %}
            - destination: "{{ rule.destination }}"
              destination_type: "{{ rule.destination_type }}"
              network_entity_id: "{{ rule.network_entity_id }}"
{% endfor %}
        # Optional
        display_name: "{{ display_name }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.route_table.id {{ '}}' }}"
