
    - name: Get all the services in a region
      oci_service_facts:
        region: "{{ region }}"
        #name: "{{ service_name }}"
      register: {{ resource_name }}Service

# ------ Create Service Gateway
    - name: Create Service Gateway {{ output_name }}
      oci_service_gateway:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        vcn_id: "{{ vcn_id }}"
        services:
            - service_id: "{{ '{{' }} ({{ resource_name }}Service.services | map(attribute='id') | list)[0] {{ '}}' }}"
        # Optional
        display_name: "{{ display_name | safe }}"
{% if route_table_id is defined %}
        route_table_id: "{{ route_table_id }}"
{% endif %}
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.service_gateway.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.service_gateway.id {{ '}}' }}"
