
# ------ Create Subnet
    - name: Create Regional Subnet {{ output_name }}
      oci_subnet:
        state: "present"
        # Required
        compartment_id: "{{ compartment_ocid }}"
        vcn_id: "{{ vcn_id }}"
        cidr_block: "{{ cidr_block }}"
        security_list_ids: [
{% for security_list_id in security_list_ids %}
                            "{{ security_list_id }}"{% if not loop.last %},{% endif %}
{% endfor %}
                            ]
        # Optional
{% if route_table_id is defined %}
        route_table_id: "{{ route_table_id }}"
{% endif %}
        display_name: "{{ display_name }}"
{% if dns_label is defined %}
        dns_label: "{{ dns_label }}"
{% endif %}
{% if defined_tags is defined %}
        defined_tags: "{{ my_defined_tags }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ my_freeform_tags }}"
{% endif %}
{% if prohibit_public_ip is defined %}
        prohibit_public_ip_on_vnic: "{{ prohibit_public_ip }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.subnet.id {{ '}}' }}"
        {{ resource_name }}_domain_name: "{{ '{{' }} {{ resource_name }}.subnet.subnet_domain_name {{ '}}' }}"
        {{ resource_name }}_dhcp_options_id: "{{ '{{' }} {{ resource_name }}.subnet.dhcp_options_id {{ '}}' }}"
