
# ------ Create Virtual Cloud Network
    - name: Create Virtual Cloud Network {{ output_name }}
      oci_vcn:
        region: "{{ region }}"
        state: "present"
        # Required
        compartment_id: "{{ compartment_id }}"
        cidr_block: "{{ cidr_block | safe }}"
        # Optional
        dns_label: "{{ dns_label | safe }}"
        display_name: "{{ display_name | safe }}"
{% if defined_tags is defined %}
        defined_tags: "{{ defined_tags | safe }}"
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags: "{{ freeform_tags | safe }}"
{% endif %}
{% if is_ipv6enabled is defined %}
        is_ipv6enabled: "{{ is_ipv6enabled | safe }}"
{% endif %}
{% if ipv6cidr_block is defined %}
        ipv6cidr_block: "{{ ipv6cidr_block | safe }}"
{% endif %}
      register: {{ resource_name }}

    - set_fact:
        {{ resource_name }}_id: "{{ '{{' }} {{ resource_name }}.vcn.id {{ '}}' }}"
        {{ resource_name }}_ocid: "{{ '{{' }} {{ resource_name }}.vcn.id {{ '}}' }}"
        {{ resource_name }}_domain_name: "{{ '{{' }} {{ resource_name }}.vcn.vcn_domain_name {{ '}}' }}"
        {{ resource_name }}_dhcp_options_id: "{{ '{{' }} {{ resource_name }}.vcn.default_dhcp_options_id {{ '}}' }}"
