/*
** Copyright (c) 2020, Oracle and/or its affiliates.
** Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
*/
console.info('Loaded {{ artefact_name }} Javascript');

/*
** Define {{ artefact_name }} Class
*/
class {{ model_class_name }} extends OkitArtifact {
    /*
    ** Create
    */
    constructor (data={}, okitjson={}) {
        super(okitjson);
        // Configure default values
        this.display_name = this.generateDefaultName(okitjson.{{ artefact_json_list }}.length + 1);
        this.compartment_id = data.parent_id;
        /*
        ** TODO: Add Resource / Artefact specific parameters and default
        */
        // Update with any passed data
        this.merge(data);
        this.convert();
    }
    /*
    ** Clone Functionality
    */
    clone() {
        return new {{ model_class_name }}(JSON.clone(this), this.getOkitJson());
    }
    /*
    ** Name Generation
    */
    getNamePrefix() {
        return super.getNamePrefix() + '{{ name_prefix }}';
    }
    /*
    ** Static Functionality
    */
    static getArtifactReference() {
        return '{{ artefact_name }}';
    }
}
/*
** Dynamically Add Model Functions
*/
OkitJson.prototype.new{{ model_class_name }} = function(data) {
    this.get{{ model_class_name }}s().push(new {{ model_class_name }}(data, this));
    return this.get{{ model_class_name }}s()[this.get{{ model_class_name }}s().length - 1];
}
OkitJson.prototype.get{{ model_class_name }}s = function() {
    if (!this.{{ artefact_json_list }}) {
        this.{{ artefact_json_list }} = [];
    }
    return this.{{ artefact_json_list }};
}
OkitJson.prototype.get{{ model_class_name }} = function(id='') {
    for (let artefact of this.get{{ model_class_name }}s()) {
        if (artefact.id === id) {
            return artefact;
        }
    }
return undefined;
}
OkitJson.prototype.delete{{ model_class_name }} = function(id) {
    for (let i = 0; i < this.{{ artefact_json_list }}.length; i++) {
        if (this.{{ artefact_json_list }}[i].id === id) {
            this.{{ artefact_json_list }}[i].delete();
            this.{{ artefact_json_list }}.splice(i, 1);
            break;
        }
    }
}

