# Copyright (c) 2020, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

[Unit]
Description=Flask daemon
After=network.target

[Service]
Type=simple
# the specific user that our service will run as
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
Environment="PYTHONPATH=:/okit/visualiser:/okit/okitweb:/okit"
Environment="FLASK_APP=okitweb"
Environment="FLASK_DEBUG=development"
RuntimeDirectory=flask
WorkingDirectory=/okit/workspace
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0 --port=8080 --no-debugger
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
TimeoutStartSec=300
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
