<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Property Sheet</title>
</head>
<body>
<div id="property-editor" class="property-editor">
    <div class="property-editor-title">
        <label>{% block title_block %}{% endblock %}</label>
    </div>
    <details class="required-properties" open="open">
        <summary>Required Properties</summary>
        <div id="required_properties" class="table okit-table okit-properties-table">
            <div class="thead">
                <div class="tr"><div class="th">Property</div><div class="th">Value</div></div>
            </div>
            <div class="tbody">
               {% block required_properties_table_rows_block %}{% endblock %}
            </div>
        </div>
    </details>
    <details id="optional_properties" class="optional-properties">
        <summary>Optional Properties</summary>
        <div id="required_properties" class="table okit-table okit-properties-table">
            <div class="thead">
                <div class="tr"><div class="th">Property</div><div class="th">Value</div></div>
            </div>
            <div class="tbody">
                {% block optional_properties_table_rows_block %}{% endblock %}
            </div>
        </div>
        {% block optional_properties_block %}{% endblock %}
        <details open="open">
            <summary>Freeform Tags</summary>
            <div id="fftags" class="table okit-table okit-properties-table okit-dynamic-table">
                <div class="thead">
                    <div class="tr"><div class="th">Key</div><div class="th">Value</div><div class="th"><button id="add-freeform-tag" type="button">+</button></div></div>
                </div>
                <div class="tbody" id="freeform_tags"></div>
            </div>
        </details>
        <details open="open">
            <summary>Defined Tags</summary>
            <div id="dftags" class="table okit-table okit-properties-table okit-dynamic-table">
                <div class="thead">
                    <div class="tr"><div class="th">Namespace</div><div class="th">Key</div><div class="th">Value</div><div class="th"><button id="add-defined-tag" type="button">+</button></div></div>
                </div>
                <div class="tbody" id="defined_tags"></div>
            </div>
        </details>
    </details>
</div>
</body>
</html>