<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compartment</title>
</head>
<body>
    <div id="property-editor" class="property-editor">
        <div class="property-editor-title">
            <label>Compartment</label>
        </div>
        <table id="compartment" class="property-editor-table">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Name</td><td><input type="text" id="name" name="name" class="property-value"></td></tr>
        </table>
    </div>
</body>
</html>