<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Routing Gateway</title>
</head>
<body>
    <div id="property-editor" class="property-editor">
        <div class="property-editor-title">
            <label>Dynamic Routing Gateway</label>
        </div>
        <table id="dynamic_routing_gateway" class="property-editor-table">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Virtual Cloud Network</td><td><label id="virtual_cloud_network" class="property-value"></label></td></tr>
            <tr><td>Name</td><td><input type="text" id="display_name" name="display_name" class="property-value"></td></tr>
            <tr><td>Fast Connect</td><td><select multiple="multiple" id="fast_connect_ids" class="property-value"></select></td></tr>
            <tr><td>IPSec Connection</td><td><select multiple="multiple" id="ipsec_connection_ids" class="property-value"></select></td></tr>
            <tr><td>Remote Peering Connection</td><td><select multiple="multiple" id="remote_peering_connection_ids" class="property-value"></select></td></tr>
        </table>
    </div>
</body>
</html>