<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instance</title>
</head>
<body>
    <div id="property-editor" class="property-editor">
        <div class="property-editor-title">
            <label>Instance</label>
        </div>
        <table id="instance" class="property-editor-table">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Virtual Cloud Network</td><td><label id="virtual_cloud_network" class="property-value"></label></td></tr>
            <tr><td>Name</td><td><input type="text" id="display_name" name="display_name" class="property-value"></td></tr>
            <tr><td>Availability Domain</td><td><select id="availability_domain" class="property-value">
                <option value="1" selected="selected">AD 1</option>
                <option value="2">AD 2</option>
                <option value="3">AD 3</option>
            </select></td></tr>
            <tr><td>Hostname</td><td><input type="text" id="hostname_label" name="hostname_label" class="property-value"></td></tr>
            <tr><td>OS</td><td><select id="os" class="property-value">
                <option value="Oracle Linux" selected="selected">Oracle Linux</option>
            </select></td></tr>
            <tr><td>Version</td><td><select id="version" class="property-value">
                <option value="7.6" selected="selected">7.6</option>
            </select></td></tr>
            <tr><td>Shape</td><td><select id="shape" class="property-value">
                <option value="VM.Standard2.1" selected="selected">VM.Standard2.1 (1 Core OCPU, 15 GB Memory)</option>
            </select></td></tr>
            <tr><td>Boot Volume Size (in GB)</td><td><input type="text" id="boot_volume_size_in_gbs" name="boot_volume_size_in_gbs" class="property-value"></td></tr>
            <tr><td>Authorised Keys</td><td><input type="text" id="authorized_keys" name="authorized_keys" class="property-value"></td></tr>
            <tr><td>Block Storage Volumes</td><td><select multiple="multiple" id="block_storage_volume_ids" class="property-value"></select></td></tr>
            <tr><td>Cloud Init YAML</td><td><textarea id="cloud_init_yaml" name="cloud_init_yaml" class="property-value" rows="10"></textarea></td></tr>
        </table>
    </div>
</body>
</html>