<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Gateway</title>
</head>
<body>
    <div id="property-editor" class="property-editor">
        <div class="property-editor-title">
            <label>Service Gateway</label>
        </div>
        <table id="service_gateway" class="property-editor-table">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Virtual Cloud Network</td><td><label id="virtual_cloud_network" class="property-value"></label></td></tr>
            <tr><td>Name</td><td><input type="text" id="display_name" name="display_name" class="property-value"></td></tr>
            <tr><td>Services</td><td><select id="service_name" class="property-value">
                <option value="All Services" selected="selected">All Services</option>
            </select></td></tr>
            <tr><td>Autonomous Databases</td><td><select multiple="multiple" id="autonomous_database_ids" class="property-value"></select></td></tr>
            <tr><td>Object Storage Buckets</td><td><select multiple="multiple" id="object_storage_bucket_ids" class="property-value"></select></td></tr>
        </table>
    </div>
</body>
</html>
