<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Table</title>
</head>
<body>
    <div id="property-editor" class="property-editor">
        <div class="property-editor-title">
            <label>Subnet</label>
        </div>
        <table id="subnet" class="property-editor-table">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Virtual Cloud Network</td><td><label id="virtual_cloud_network" class="property-value"></label></td></tr>
            <tr><td>Name</td><td><input type="text" id="display_name" name="display_name" class="property-value"></td></tr>
            <tr><td>CIDR</td><td><input type="text" id="cidr_block" name="cidr_block" class="property-value"></td></tr>
            <tr><td>DNS Label</td><td><input type="text" id="dns_label" name="dns_label" class="property-value"></td></tr>
            <tr><td>Route Table</td><td><select id="route_table_id" class="property-value"></select></td></tr>
            <tr><td>Security List</td><td><select multiple="multiple" id="security_list_ids" class="property-value"></select></td></tr>
        </table>
    </div>
</body>
</html>