{% import "common_macros.jinja2" as common with context %}
{% macro document_compartment(resource) -%}
    {% if resource.compartment_id != None -%}
        {{ common.document_common_details(resource) }}
{{ common.document_tags(resource) }}
    {%- endif %}
{%- endmacro %}
{% for compartment in compartments -%}
    {{ document_compartment(compartment) }}
{%- endfor %}