{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
{% macro document_exadata_infrastructure(resource) -%}
{{ common.document_common_details(resource) }}
{{ common.document_common_properties(resource) }}
{{ common.document_property("Shape", resource.shape) }}
{{ common.document_property("Compute Count", resource.compute_count) }}
{{ common.document_property("Storage Count", resource.storage_count) }}
{{ common.document_property("Customer Contacts", resource.customer_contacts) }}
{{ common.document_property("Cluster", resource.create_cluster) }}
{% if resource.create_cluster -%}
{{ common.document_property("Cluster Name", resource.cluster.cluster_name) }}
{{ common.document_property("Name", resource.cluster.display_name) }}
{{ common.document_property("Hostname", resource.cluster.hostname) }}
{{ common.document_property("License Model", resource.cluster.license_model) }}
{{ common.subnet_property(resource.cluster.subnet_id) }}
{% if resource.cluster.nsg_ids | length > 0 -%}
{{ common.nsg_list_property(resource.cluster.nsg_ids) }}
{% endif -%}
{{ common.subnet_property(resource.cluster.backup_subnet_id, "Backup Subnet") }}
{% if resource.cluster.backup_network_nsg_ids | length > 0 -%}
{{ common.nsg_list_property(resource.cluster.backup_network_nsg_ids, "Backup NSG") }}
{% endif -%}
{{ common.document_property("Version", resource.cluster.gi_version) }}
{{ common.document_property("CPU Count", resource.cluster.cpu_core_count) }}
{{ common.document_property("Data Storage %", resource.cluster.data_storage_percentage) }}
{{ common.document_property("Scan Listener Port", resource.cluster.scan_listener_port_tcp) }}
{{ common.document_property("Scan Listener Port SSL", resource.cluster.scan_listener_port_tcp_ssl) }}
{%- endif -%}
{{ common.document_tags(resource) }}
{%- endmacro %}
{% for exadata_infrastructure in exadata_cloud_infrastructures -%}
    {{ document_exadata_infrastructure(exadata_infrastructure) }}
{%- endfor %}