{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
{% macro document_instance(resource) -%}
{{ common.document_common_details(resource) }}
{{ common.document_common_properties(resource) }}
{{ common.subnet_property(resource.vnic_attachments[0].subnet_id) }}
{{ common.document_property("Fault Domain", resource.fault_domain) }}
{{ common.document_property("Shape", resource.shape) }}
{{ common.document_property("Operating System", resource.source_details.os) }}
{{ common.document_property("Operating System Version", resource.source_details.version) }}
{% if resource.source_details.image_name is defined -%}{{ common.document_property("Image Name", resource.source_details.image_name) }}{%- endif %}
    {% if resource.metadata.user_data != "" %}
##### Cloud Init
```bash
{{ resource.metadata.user_data | safe }}
```
    {% endif %}
{{ common.document_tags(resource) }}
{%- endmacro %}
{% for instance in instances -%}
    {{ document_instance(instance) }}
{%- endfor %}