{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
# {{ title }}

{% if description is defined -%}{{ description | safe }}{%- endif %}
{% if documentation is defined -%}{{ documentation | safe }}{%- endif %}

{% if svg is defined -%}
    {{ svg | safe }}
{%- endif %}

## Containers

{% if compartments is defined and compartments|length > 0 -%}
    ### Compartments
    {% include "compartment.jinja2" ignore missing with context %}
{%- endif %}

{% if data_integration_workspaces is defined and data_integration_workspaces|length > 0 -%}
    ### DIS Workspace
    {% include "data_integration_workspace.jinja2" ignore missing with context %}
{%- endif %}

## Networking

{% if virtual_cloud_networks is defined and virtual_cloud_networks|length > 0 -%}
    ### Virtual Cloud Networks
    {% include "virtual_cloud_network.jinja2" ignore missing with context %}
{%- endif %}

{% if subnets is defined and subnets|length > 0 -%}
    ### Subnets
    {% include "subnet.jinja2" ignore missing with context %}
{%- endif %}

{% if internet_gateways is defined and internet_gateways|length > 0 -%}
    ### Internet Gateways
    {% include "internet_gateway.jinja2" ignore missing with context %}
{%- endif %}

{% if nat_gateways is defined and nat_gateways|length > 0 -%}
    ### NAT Gateways
    {% include "nat_gateway.jinja2" ignore missing with context %}
{%- endif %}

{% if service_gateways is defined and service_gateways|length > 0 -%}
    ### Service Gateways
    {% include "service_gateway.jinja2" ignore missing with context %}
{%- endif %}

{% if local_peering_gateways is defined and local_peering_gateways|length > 0 -%}
    ### Local Peering Gateways
    {% include "local_peering_gateway.jinja2" ignore missing with context %}
{%- endif %}

{% if route_tables is defined and route_tables|length > 0 -%}
    ### Route Tables
    {% include "route_table.jinja2" ignore missing with context %}
{%- endif %}

{% if security_lists is defined and security_lists|length > 0 -%}
    ### Security Lists
    {% include "security_list.jinja2" ignore missing with context %}
{%- endif %}

{% if network_security_groups is defined and network_security_groups|length > 0 -%}
    ### Network Security Groups
    {% include "network_security_group.jinja2" ignore missing with context %}
{%- endif %}

{% if drg_attachments is defined and drg_attachments|length > 0 -%}
    ### DRG Attachments
    {% include "drg_attachment.jinja2" ignore missing with context %}
{%- endif %}

{% if drgs is defined and drgs|length > 0 -%}
    ### Dynamic Routing Gateways
    {% include "drg.jinja2" ignore missing with context %}
{%- endif %}

{% if remote_peering_connections is defined and remote_peering_connections|length > 0 -%}
    ### Remote Peering Connections
    {% include "remote_peering_connection.jinja2" ignore missing with context %}
{%- endif %}

{% if (autonomous_databases is defined and autonomous_databases|length > 0) or (database_systems is defined and database_systems|length > 0) or (mysql_database_systems is defined and mysql_database_systems|length) -%}
## Databases

{% if autonomous_databases is defined and autonomous_databases|length > 0 -%}
    ### Autonomous Databases
    {% include "autonomous_database.jinja2" ignore missing with context %}
{%- endif %}

{% if database_systems is defined and database_systems|length > 0 -%}
    ### Database Systems
    {% include "database_system.jinja2" ignore missing with context %}
{%- endif %}

{% if mysql_database_systems is defined and mysql_database_systems|length > 0 -%}
    ### MySQL Database Systems
    {% include "mysql_database_system.jinja2" ignore missing with context %}
{%- endif %}

{%- endif %}

## Infrastructure

{% if instances is defined and instances|length > 0 -%}
    ### Instances
    {% include "instance.jinja2" ignore missing with context %}
{%- endif %}

{% if load_balancers is defined and load_balancers|length > 0 -%}
    ### Load Balancers
    {% include "load_balancer.jinja2" ignore missing with context %}
{%- endif %}

{% if oracle_digital_assistants is defined and oracle_digital_assistants|length > 0 -%}
    ### Oracle Digital Assistants
    {% include "oracle_digital_assistant.jinja2" ignore missing with context %}
{%- endif %}

## Storage

{% if block_storage_volumes is defined and block_storage_volumes|length > 0 -%}
    ### Block Storage Volumes
    {% include "block_storage_volume.jinja2" ignore missing with context %}
{%- endif %}

{% if object_storage_buckets is defined and object_storage_buckets|length > 0 -%}
    ### Object Storage Buckets
    {% include "object_storage_bucket.jinja2" ignore missing with context %}
{%- endif %}

{% if file_storage_systems is defined and file_storage_systems|length > 0 -%}
    ### File Storage Systems
    {% include "file_storage_system.jinja2" ignore missing with context %}
{%- endif %}

{% if file_systems is defined and file_systems|length > 0 -%}
    ### File Systems
    {% include "file_system.jinja2" ignore missing with context %}
{%- endif %}

{% if mount_targets is defined and mount_targets|length > 0 -%}
    ### Mount Targets
    {% include "mount_target.jinja2" ignore missing with context %}
{%- endif %}

{% if (customer_premise_equipments is defined and customer_premise_equipments|length > 0) or (ipsec_connections is defined and ipsec_connections|length > 0) -%}
## External

{% if customer_premise_equipments is defined and customer_premise_equipments|length > 0 -%}
    ### Customer Premise Equipment
    {% include "customer_premise_equipment.jinja2" ignore missing with context %}
{%- endif %}

{% if ipsec_connections is defined and ipsec_connections|length > 0 -%}
    ### IPSec Connections
    {% include "ipsec_connection.jinja2" ignore missing with context %}
{%- endif %}

{%- endif %}

{% if exadata_infrastructures is defined and exadata_infrastructures|length > 0 -%}
    ## ExaCC

### Exadata Infrastructures
    {% include "exadata_infrastructure.jinja2" ignore missing with context %}

{% if vm_clusters is defined and vm_clusters|length > 0 -%}
    ### Vm Clusters
    {% include "vm_cluster.jinja2" ignore missing with context %}
{%- endif %}

{% if vm_cluster_networks is defined and vm_cluster_networks|length > 0 -%}
    ### Vm Cluster Networks
    {% include "vm_cluster_network.jinja2" ignore missing with context %}
{%- endif %}

{% if db_homes is defined and db_homes|length > 0 -%}
    ### DB Homes
    {% include "db_home.jinja2" ignore missing with context %}
{%- endif %}

{% if db_nodes is defined and db_nodes|length > 0 -%}
    ### DB Nodes
    {% include "db_node.jinja2" ignore missing with context %}
{%- endif %}

{% if databases is defined and databases|length > 0 -%}
    ### Databases
    {% include "database.jinja2" ignore missing with context %}
{%- endif %}

{%- endif %}

{% if exadata_cloud_infrastructures is defined and exadata_cloud_infrastructures|length > 0 -%}
    ## ExaCS

### Exadata Cloud Infrastructures
    {% include "exadata_cloud_infrastructures.jinja2" ignore missing with context %}

{% if vm_clusters is defined and vm_clusters|length > 0 -%}
    ### Vm Clusters
    {% include "vm_cluster.jinja2" ignore missing with context %}
{%- endif %}

{% if vm_cluster_networks is defined and vm_cluster_networks|length > 0 -%}
    ### Vm Cluster Networks
    {% include "vm_cluster_network.jinja2" ignore missing with context %}
{%- endif %}

{% if db_homes is defined and db_homes|length > 0 -%}
    ### DB Homes
    {% include "db_home.jinja2" ignore missing with context %}
{%- endif %}

{% if db_nodes is defined and db_nodes|length > 0 -%}
    ### DB Nodes
    {% include "db_node.jinja2" ignore missing with context %}
{%- endif %}

{% if databases is defined and databases|length > 0 -%}
    ### Databases
    {% include "database.jinja2" ignore missing with context %}
{%- endif %}

{%- endif %}

{% if (groups is defined and groups|length > 0) or (users is defined and users|length > 0) or (policys is defined and policys|length > 0) or (vaults is defined and vaults|length > 0) -%}
## Identity
{% if (users is defined and users|length > 0) -%}
### Users
    {% include "user.jinja2" ignore missing with context %}
{%- endif %}

{% if (groups is defined and groups|length > 0) -%}
### User Groups
    {% include "group.jinja2" ignore missing with context %}
{%- endif %}

{% if (policys is defined and policys|length > 0) -%}
### Policies
    {% include "policy.jinja2" ignore missing with context %}
{%- endif %}

{% if (vaults is defined and vaults|length > 0) -%}
### Vaults
    {% include "vault.jinja2" ignore missing with context %}
{%- endif %}
{%- endif %}

{% if user_defined is defined and user_defined.terraform is defined and user_defined.terraform|length > 0 -%}
## User Defined Terraform 
```terraform
{{ user_defined.terraform|safe }}
```
{%- endif %}

{% if (freeform_tags is defined and freeform_tags.keys()|length > 0) or (defined_tags is defined and defined_tags.keys()|length > 0) -%}
## Global Tags
    {% if freeform_tags is defined -%}
        {{ common.document_freeform_tags(freeform_tags) }}
    {%- endif %}
    {% if defined_tags is defined -%}
        {{ common.document_defined_tags(defined_tags) }}
    {%- endif %}
{%- endif %}

{% if variables_schema is defined and variables_schema.variables is defined and variables_schema.variables|length > 0 -%}
## Variables 
    {% include "variables.jinja2" ignore missing with context %}
{%- endif %}

