{% import "common_macros.jinja2" as common with context %}
{% macro document_rules(rules) -%}
    {% set protocol_map = {"all": "All", "1": "ICMP", "6": "TCP", "17": "UDP"} %}

#### Security Rules
| Direction | Protocol | Stateless | Source/Destination | Details | Description |
| --------- | -------- | --------- | ----------- | ----------- | ----------- |
    {% for rule in rules -%}
        | {{ rule.direction | title }} | {{ protocol_map[rule.protocol] }} | {{ rule.is_stateless }} |
        {%- if rule.direction == "INGRESS" -%}{{ rule.source }}{%- else -%}{{ rule.destination }}{%- endif -%} |
        {%- if rule.protocol == "1" and rule.icmp_options is defined -%}
            Type: {{ rule.icmp_options.type }} / Code: {{ rule.icmp_options.code }}
        {%- elif rule.protocol == "6" and rule.tcp_options is defined -%}
            {%- if rule.tcp_options.source_port_range is defined and rule.tcp_options.destination_port_range is defined -%}
                {{ ports_display(rule.tcp_options.source_port_range, rule.tcp_options.destination_port_range) }}
            {%- elif rule.tcp_options.source_port_range is not defined and rule.tcp_options.destination_port_range is defined -%}
                {{ ports_display(None, rule.tcp_options.destination_port_range) }}
            {%- elif rule.tcp_options.source_port_range is defined and rule.tcp_options.destination_port_range is not defined -%}
                {{ ports_display(rule.tcp_options.source_port_range, None) }}
            {%- endif -%}
        {%- elif rule.protocol == "17" and rule.udp_options is defined -%}
            {%- if rule.udp_options.source_port_range is defined and rule.udp_options.destination_port_range is defined -%}
                {{ ports_display(rule.udp_options.source_port_range, rule.udp_options.destination_port_range) }}
            {%- elif rule.udp_options.source_port_range is not defined and rule.udp_options.destination_port_range is defined -%}
                {{ ports_display(None, rule.udp_options.destination_port_range) }}
            {%- elif rule.udp_options.source_port_range is defined and rule.udp_options.destination_port_range is not defined -%}
                {{ ports_display(rule.udp_options.source_port_range, None) }}
            {%- endif -%}
        {%- else -%}
        {%- endif -%}
        | {{ rule.description }} |
    {% endfor %}
{%- endmacro %}
{%- macro ports_display(source, destination) -%}
    {%- if source.min != "" or source.max != "" -%}
        Source {% if source.min == "" %}{{ source.max }}-{{ source.max }}{%- elif source.max == "" -%}{{ source.min }}-{{ source.min }}{%- else -%}{{ source.min }}-{{ source.max }}{%- endif -%}
    {%- endif -%}
    {% if (source.min != "" or source.max != "") and (destination.min != "" or destination.max != "") %} / {% endif %}
    {%- if destination.min != "" or destination.max != "" -%}
        Destination {% if destination.min == "" %}{{ destination.max }}-{{ destination.max }}{%- elif destination.max == "" -%}{{ destination.min }}-{{ destination.min }}{%- else -%}{{ destination.min }}-{{ destination.max }}{%- endif -%}
    {%- endif -%}
{%- endmacro -%}
{% macro document_network_security_group(resource) -%}
{{ common.document_common_details(resource) }}
{{ common.document_common_properties(resource) }}
{{ common.vcn_property(resource.vcn_id) }}
{{ document_rules(resource.security_rules) }}
{{ common.document_tags(resource) }}
{%- endmacro %}
{% for network_security_group in network_security_groups -%}
    {{ document_network_security_group(network_security_group) }}
{%- endfor %}