{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
{% macro document_remote_peering_connection(resource) -%}
{{ common.document_common_details(resource) }}
{{ common.document_common_properties(resource) }}
{{ common.document_property() }}
{{ common.drg_property(resource.drg_id) }}
{{ common.document_property("Peer Id", resource.peer_id) }}
{{ common.document_property("Peer Region", resource.peer_region_name) }}
{{ common.document_tags(resource) }}
{%- endmacro %}
{% for remote_peering_connection in remote_peering_connections -%}
    {{ document_remote_peering_connection(remote_peering_connection) }}
{%- endfor %}