{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}
{% import "common_macros.jinja2" as common with context %}
{% macro document_user(resource) -%}
{{ common.document_property(resource.display_name, resource.description) }}
{%- endmacro %}
| User Name | Description    |
| --------- | -------------- |
{% for user in users -%}
    {{ document_user(user) }}
{% endfor %}