/*
** Icons
*/
.palette {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjI1IDEwYTYuNzUgNi43NSAwIDExNC42NDYgNi40MTZjLjI0LS41NzMuMzU0LTEuMTk5LjM1NC0xLjgzM2E0LjUgNC41IDAgMDAtNS00LjQ3MlYxMHpNMTAgMS43NUE4LjI1IDguMjUgMCAwMDEuNzUgMTB2Mi4xMDdsMS0uMzUzYTMgMyAwIDAxNCAyLjgzYzAgLjY4OC0uMTg3IDEuMzAzLS41MjggMS43NzRsLS41MzMuNzM2LjgyMi4zODRBOC4yNSA4LjI1IDAgMTAxMCAxLjc1ek04LjMzMyA4LjMzM2ExLjY2NyAxLjY2NyAwIDEwMC0zLjMzMyAxLjY2NyAxLjY2NyAwIDAwMCAzLjMzM3ptNi42NjcgMGExLjY2NyAxLjY2NyAwIDExLTMuMzMzIDAgMS42NjcgMS42NjcgMCAwMTMuMzMzIDB6TTExLjY2NyAxNWExLjY2NyAxLjY2NyAwIDEwMC0zLjMzMyAxLjY2NyAxLjY2NyAwIDAwMCAzLjMzM3oiIGZpbGw9IiMxNjE1MTMiLz48L3N2Zz4=");
}

.palette-list {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMzMzIDMuMTY3aDEwTTcuMzMzIDloMTBtLTEwIDUuODMzaDEwTTQuODMzIDMuMTY3YTEuNjY3IDEuNjY3IDAgMTEtMy4zMzMgMCAxLjY2NyAxLjY2NyAwIDAxMy4zMzMgMHptMCA1LjgzM0ExLjY2NyAxLjY2NyAwIDExMS41IDlhMS42NjcgMS42NjcgMCAwMTMuMzMzIDB6bTAgNS44MzNhMS42NjcgMS42NjcgMCAxMS0zLjMzMyAwIDEuNjY3IDEuNjY3IDAgMDEzLjMzMyAweiIgc3Ryb2tlPSIjMTYxNTEzIiBzdHJva2Utd2lkdGg9IjEuODc1Ii8+PC9zdmc+");
}

.palette-icons {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMzMzIDEuNUgxLjV2NS44MzNoNS44MzNWMS41ek03LjMzMyAxMC42NjdIMS41VjE2LjVoNS44MzN2LTUuODMzek0xNi41IDEuNWgtNS44MzN2NS44MzNIMTYuNVYxLjV6TTE2LjUgMTAuNjY3aC01LjgzM1YxNi41SDE2LjV2LTUuODMzeiIgc3Ryb2tlPSIjMjIyIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvc3ZnPg==");
}

.explorer {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQgNC44MzNoMi41TTQgOWgyLjVNNCAxMy4xNjdoMi41bTEuNjY3LTguMzM0SDE0TTguMTY3IDlIMTRtLTUuODMzIDQuMTY3SDE0TTEuNSAxLjVoMTV2MTVoLTE1di0xNXoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L3N2Zz4=");
}

.properties {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIuNSAyLjV2LS43NWgtLjc1di43NWguNzV6bTAgMTVoLS43NXYuNzVoLjc1di0uNzV6bTguMzMzLTE1bC41My0uNTMtLjIxOS0uMjJoLS4zMXYuNzV6bTUgNXYuNzVhLjc1Ljc1IDAgMDAuNTMtMS4yOGwtLjUzLjUzem0tNSAwaC0uNzV2Ljc1aC43NVY3LjV6bTAgNy41bC0uNTMtLjUzLS4yMi4yMlYxNWguNzV6bTAgMi41aC0uNzV2Ljc1aC43NXYtLjc1em0yLjUgMHYuNzVoLjMxMWwuMjItLjIyLS41My0uNTN6bTQuMTY3LTQuMTY3bC41My41M2EuNzUuNzUgMCAwMDAtMS4wNmwtLjUzLjUzem0tMi41LTIuNWwuNTMtLjUzYS43NS43NSAwIDAwLTEuMDYgMGwuNTMuNTN6TTEuNzUgMi41djE1aDEuNXYtMTVoLTEuNXptLjc1IDE1Ljc1aDUuODMzdi0xLjVIMi41djEuNXptMC0xNWg4LjMzM3YtMS41SDIuNXYxLjV6bTcuODAzLS4yMmw1IDUgMS4wNi0xLjA2LTUtNS0xLjA2IDEuMDZ6bTUuNTMgMy43MmgtNXYxLjVoNXYtMS41em0tNC4yNS43NXYtNWgtMS41djVoMS41em0tMS41IDcuNXYyLjVoMS41VjE1aC0xLjV6bS43NSAzLjI1aDIuNXYtMS41aC0yLjV2MS41em0zLjAzLS4yMmw0LjE2Ny00LjE2Ni0xLjA2LTEuMDYxLTQuMTY3IDQuMTY3IDEuMDYgMS4wNnptNC4xNjctNS4yMjdsLTIuNS0yLjUtMS4wNiAxLjA2IDIuNSAyLjUgMS4wNi0xLjA2em0tMy41Ni0yLjVsLTQuMTY3IDQuMTY3IDEuMDYgMS4wNiA0LjE2Ny00LjE2Ni0xLjA2LTEuMDYxeiIgZmlsbD0iIzIyMiIvPjwvc3ZnPg==");
}

.zoom-in {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguMTY3IDExLjVWNC44MzNNNC44MzMgOC4xNjdIMTEuNW01IDguMzMzbC0zLjYtMy42MzltMS45MzMtNC42OTRhNi42NjcgNi42NjcgMCAxMS0xMy4zMzMgMCA2LjY2NyA2LjY2NyAwIDAxMTMuMzMzIDB6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+");
}

.zoom-121 {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTguMTY3IDExLjVWNC44MzNNNC44MzMgOC4xNjdIMTEuNW01IDguMzMzbC0zLjYtMy42MzltMS45MzMtNC42OTRhNi42NjcgNi42NjcgMCAxMS0xMy4zMzMgMCA2LjY2NyA2LjY2NyAwIDAxMTMuMzMzIDB6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+");
}

.zoom-out {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuODMzIDguMTY3SDExLjVtNSA4LjMzM2wtMy42MTYtMy42MjJtMS45NS00LjcxMWE2LjY2NyA2LjY2NyAwIDExLTEzLjMzNCAwIDYuNjY3IDYuNjY3IDAgMDExMy4zMzMgMHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSIxLjUiLz48L3N2Zz4=");
}

.validate {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwIDIwbDYgNiAxNC0xNG04IDhjMCA5Ljk0MS04LjA1OSAxOC0xOCAxOFMyIDI5Ljk0MSAyIDIwIDEwLjA1OSAyIDIwIDJzMTggOC4wNTkgMTggMTh6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjwvc3ZnPg==");
}

.threedotmenu {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAxNWExLjY2NyAxLjY2NyAwIDExMCAzLjMzM0ExLjY2NyAxLjY2NyAwIDAxMTAgMTV6bTEuNjY3LTVhMS42NjcgMS42NjcgMCAxMC0zLjMzNCAwIDEuNjY3IDEuNjY3IDAgMDAzLjMzNCAwem0wLTYuNjY3YTEuNjY3IDEuNjY3IDAgMTAtMy4zMzQgMCAxLjY2NyAxLjY2NyAwIDAwMy4zMzQgMHoiIGZpbGw9IiMyMjIiLz48L3N2Zz4=");
}

.cost-estimate {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTI4IDEySDE2YTQgNCAwIDAwMCA4aDhhNCA0IDAgMDEwIDhIMTJtOC0yMHYyNG0xOC0xMmMwIDkuOTQxLTguMDU5IDE4LTE4IDE4UzIgMjkuOTQxIDIgMjAgMTAuMDU5IDIgMjAgMnMxOCA4LjA1OSAxOCAxOHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.eye-show {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDIiIGhlaWdodD0iMzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDJDMTIuMiAyIDUuMzMzIDExLjMzMyAzIDE2YzUuNiAxMS4yIDE0LjMzMyAxNCAxOCAxNCA4LjguOCAxNS42NjctOSAxOC0xNEMzNC4yIDQuOCAyNSAyIDIxIDJ6IiBzdHJva2U9IiMxNjE1MTMiIHN0cm9rZS13aWR0aD0iNCIvPjxwYXRoIGQ9Ik0yNyAxNmE2IDYgMCAxMS0xMiAwIDYgNiAwIDAxMTIgMHoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.eye-hide {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDguNjM4QTEzLjE0NiAxMy4xNDYgMCAwMTIyIDhjNCAwIDEzLjIgMi43OTUgMTggMTMuOTc3LS44MTYgMS43NDYtMi4xODYgNC4wNzctNCA2LjMzOG0tMi4yNzcgMi41MzNDMzAuNTY4IDMzLjk2IDI2LjU0MiAzNi4zNjYgMjIgMzUuOTU0Yy0zLjY2NyAwLTEyLjQtMi43OTYtMTgtMTMuOTc3IDEuMzM4LTIuNjczIDQuMTY5LTYuODc4IDgtOS45NzltMTQuMjQzIDE0LjI0NWE2IDYgMCAxMS04LjQ4Ni04LjQ4Nk0yIDJsNDAgNDAiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}

.add-plus {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDB2NDBtMjAtMjBIMCIgc3Ryb2tlPSIjMTYxNTEzIiBzdHJva2Utd2lkdGg9IjQiLz48L3N2Zz4=");
}

.left-palette {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDE0SDJtMTIgMjRWMTRNMiAyaDM2djM2SDJWMnoiIHN0cm9rZT0iIzE2MTUxMyIgc3Ryb2tlLXdpZHRoPSI0Ii8+PC9zdmc+");
}
