{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}

{% if read_only -%} {# Read Only #}
# ------ Read Auto Scaling Configuration
data "oci_autoscaling_auto_scaling_configurations" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %} {# Read Only #}
# ------- Create Auto Scaling Configuration
resource "oci_autoscaling_auto_scaling_configuration" "{{ resource_name }}AutoScaling" {
    # Required
    compartment_id = {{ compartment_id }}
    cool_down_in_seconds = {{ cool_down_in_seconds | safe}}
    display_name = {{ display_name | safe }}
    auto_scaling_resources {
        #Required
        id = {{ resource.id }}
        type = {{ resource.type | safe }}
    }
{% for policy in policies %} {# Policies #}
    policies {
        # Required
        policy_type = {{ policy.policy_type | safe }}
        display_name = {{ display_name | safe }}
        #Optional
        capacity {
            #Optional
{% if policy.capacity.initial is defined %}
            initial = {{ policy.capacity.initial | safe }}
{% endif %}
{% if policy.capacity.max is defined %}
            max = {{ policy.capacity.max | safe }}
{% endif %}
{% if policy.capacity.min is defined %}
            min = {{ policy.capacity.min | safe }}
{% endif %}
        }
{% if policy.execution_schedule is defined %}
        execution_schedule {
            #Required
            expression = {{ policy.execution_schedule.expression | safe }}
            timezone = {{ policy.execution_schedule.timezone | safe }}
            type = {{ policy.execution_schedule.type | safe }}
        }
{% endif %}
{% if policy.is_enabled is defined %}
        is_enabled = {{ policy.is_enabled | safe | lower }}
{% endif %}
{% if policy.rules is defined %}
    {% for rule in policy.rules %}
        rules {
            #Optional
            action {
                #Optional
                type = {{ rule.action.type | safe }}
                value = {{ rule.action.value | safe }}
            }
            display_name = {{ display_name | safe }}
            metric {
                #Optional
                metric_type = {{ rule.metric.metric_type | safe }}
                threshold {
                    #Optional
                    operator = {{ rule.metric.threshold.operator | safe }}
                    value = {{ rule.metric.threshold.value | safe }}
                }
            }
        }
    {% endfor %}
{% endif %}
    }
{% endfor %} {# Policies #}

{% if defined_tags is defined %}
    defined_tags               = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags              = {{ freeform_tags | safe }}
{% endif %}
}
{% endif %} {# Read Only #}
