
{% if read_only %}
# ------ Read Database System
data "oci_database_db_systems" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
}
{% else %}
# ------ Create Database System
resource "oci_database_db_system" "{{ resource_name }}" {
    #Required
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | safe }} - 1]["name"]
    compartment_id      = {{ compartment_ocid }}
    database_edition    = {{ database_edition | safe }}
    db_home {
        #Required
        database {
            #Required
            admin_password      = {{ admin_password | safe }}
            #Optional
{% if backup_id is defined %}
            backup_id           = {{ backup_id | safe }}
{% endif %}
{% if backup_tde_password is defined %}
            backup_tde_password = {{ backup_tde_password | safe }}
{% endif %}
{% if character_set is defined %}
            character_set       = {{ character_set | safe }}
{% endif %}
{% if auto_backup_enabled is defined or auto_backup_window is defined or recovery_window_in_days is defined %}
            db_backup_config {
                #Optional
    {% if auto_backup_enabled is defined %}
                auto_backup_enabled = {{ auto_backup_enabled | safe }}
    {% endif %}
    {% if auto_backup_window is defined %}
                auto_backup_window  = {{ auto_backup_window | safe }}
    {% endif %}
    {% if backup_destination_details is defined %}
                backup_destination_details {
                    #Optional
                    id   = {{ backup_destination_id | safe }}
                    type = {{ backup_destination_type | safe }}
                }
    {% endif %}
    {% if recovery_window_in_days is defined %}
                recovery_window_in_days = {{ recovery_window_in_days | safe }}
    {% endif %}
            }
{% endif %}
{% if db_name is defined %}
            db_name        = {{ db_name | safe }}
{%  endif %}
{% if db_workload is defined %}
            db_workload    = {{ db_workload | safe }}
{%  endif %}
{% if ncharacter_set is defined %}
            ncharacter_set = {{ ncharacter_set | safe }}
{% endif %}
{% if pdb_name is defined %}
            pdb_name       = {{ pdb_name | safe }}
{% endif %}
{% if defined_tags is defined %}
            defined_tags             = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
            freeform_tags            = {{ freeform_tags | safe }}
{% endif %}
        }
        #Optional
{% if db_version is defined %}
        db_version = {{ db_version | safe }}
{% endif %}
{% if display_name is defined %}
        display_name = {{ display_name | safe }}
{% endif %}
    }
    hostname        = {{ hostname | safe }}
    shape           = {{ shape | safe }}
    ssh_public_keys = [{{ ssh_public_keys | safe }}]
    subnet_id       = {{ subnet_id }}
    #Optional
{% if backup_network_nsg_ids is defined %}
    backup_network_nsg_ids  = {{ backup_network_nsg_ids | safe }}
{% endif %}
{% if backup_subnet_id is defined %}
    backup_subnet_id        = {{ backup_subnet_id | safe }}
{% endif %}
{% if cluster_name is defined %}
    cluster_name            = {{ cluster_name | safe }}
{%  endif %}
{% if cpu_core_count is defined %}
    cpu_core_count          = {{ cpu_core_count | safe }}
{% endif %}
{% if data_storage_percentage is defined %}
    data_storage_percentage = {{ data_storage_percentage | safe }}
{% endif %}
{% if data_storage_size_in_gb is defined %}
    data_storage_size_in_gb = {{ data_storage_size_in_gb | safe }}
{% endif %}
{% if storage_management is defined %}
    db_system_options {
        #Optional
        storage_management  = {{ storage_management | safe }}
    }
{% endif %}
{% if disk_redundancy is defined %}
    disk_redundancy         = {{ disk_redundancy | safe }}
{% endif %}
    display_name            = {{ display_name | safe }}
{% if domain is defined %}
    domain                  = {{ domain | safe }}
{% endif %}
{% if fault_domains is defined %}
    #fault_domains           = {{ fault_domains | safe }}
    fault_domains           = [{% for fault_domain in fault_domains %}"{{ fault_domain | safe }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
{% if license_model is defined %}
    license_model           = {{ license_model | safe }}
{% endif %}
{% if maintenance_window_details is defined %}
    maintenance_window_details {
        #Optional
        days_of_week {
            #Optional
            name = {{ dow_name | safe }}
        }
        hours_of_day       = {{ hours_of_days | safe }}
        lead_time_in_weeks = {{ lead_time_in_weeks | safe }}
        months {
            #Optional
            name = {{ month_name | safe }}
        }
        preference     = {{ preference | safe }}
        weeks_of_month = {{ weeks_of_month | safe }}
    }
{% endif %}
{% if node_count is defined %}
    node_count       = {{ node_count | safe }}
{% endif %}
{% if nsg_ids is defined %}
    nsg_ids          = {{ nsg_ids | safe }}
{% endif %}
{% if source is defined %}
    source           = {{ source | safe }}
{% endif %}
{% if sparse_diskgroup is defined %}
    sparse_diskgroup = {{ sparse_diskgroup | safe }}
{% endif %}
{% if time_zone is defined %}
    time_zone        = {{ time_zone | safe }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags             = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags            = {{ freeform_tags | safe }}
{% endif %}
}

locals {
    {{ resource_name }}_id              = oci_database_db_system.{{ resource_name }}.id
#    {{ resource_name }}_scan_ip_ips     = oci_database_db_system.{{ resource_name }}.scan_ip_ips
#    {{ resource_name }}_vip_ids         = oci_database_db_system.{{ resource_name }}.vip_ids
}
{% endif %}
