{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}

{% for route_distribution in route_distributions %}
{% if read_only %}
# ------ Read DRG Route Distribution
data "oci_core_drg_route_distributions" "{{ route_distribution.resource_name }}" {
    # Required
    drg_id = local.{{ resource_name }}_id
    filter {
        name = "id"
        values = [{{ route_distribution.ocid | safe }}]
    }
}

locals {
    {{ route_distribution.resource_name }}_id = {{ route_distribution.ocid | safe }}
}
{% else %}
# ------ Create DRG Route Distribution
resource "oci_core_drg_route_distribution" "{{ route_distribution.resource_name }}" {
    #Required
    drg_id = local.{{ resource_name }}_id
    distribution_type = {{ route_distribution.distribution_type | safe }}
    #Optional
    display_name = {{ route_distribution.display_name | safe }}
{% if defined_tags is defined %}
    defined_tags = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags = {{ freeform_tags | safe }}
{% endif %}
}


locals {
    {{ route_distribution.resource_name }}_id = oci_core_drg_route_distribution.{{ route_distribution.resource_name }}.id
}
# ------ Create DRG Route Distribution Statements
{% for statement in route_distribution.statements %}
resource "oci_core_drg_route_distribution_statement" "{{ statement.resource_name }}Statement" {
    #Required
    drg_route_distribution_id = local.{{ route_distribution.resource_name }}_id
    action = {{ statement.action | safe }}
    #Optional
{% if statement.match_criteria is defined %}
    match_criteria {
        #Required
        match_type = {{ statement.match_criteria.match_type | safe }}

        #Optional
{% if statement.match_criteria.attachment_type is defined %}
        attachment_type = {{ statement.match_criteria.attachment_type | safe }}
{% endif %}
{% if statement.match_criteria.drg_attachment_id is defined %}
        drg_attachment_id = {{ statement.match_criteria.drg_attachment_id }}
{% endif %}
    }
{% endif %}
    priority = {{ statement.priority | safe }}

}
{% endfor %}
{% endif %}
{% endfor %}
