{# Copyright (c) 2020, 2024, Oracle and/or its affiliates. #}
{# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl. #}

{% for route_table in route_tables %}
{% if read_only %}
# ------ Read DRG Route Table
data "oci_core_drg_route_tables" "{{ resource_name }}" {
    # Required
    drg_id = local.{{ resource_name }}_id
    filter {
        name = "id"
        values = [{{ route_table.ocid | safe }}]
    }
}

locals {
    {{ route_table.resource_name }}_id = {{ ocid | safe }}
}
{% else %}
# ------ Create DRG Route Table
resource "oci_core_drg_route_table" "{{ route_table.resource_name }}" {
    #Required
    drg_id = local.{{ resource_name }}_id
    #Optional
    display_name = {{ route_table.display_name | safe }}
{% if route_table.import_drg_route_distribution_id is defined %}
    import_drg_route_distribution_id = {{ route_table.import_drg_route_distribution_id | safe }}
{% endif %}
{% if route_table.is_ecmp_enabled is defined %}
    is_ecmp_enabled = {{ route_table.is_ecmp_enabled | safe | lower }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags = {{ freeform_tags | safe }}
{% endif %}
}


locals {
    {{ route_table.resource_name }}_id = oci_core_drg_route_table.{{ route_table.resource_name }}.id
}
# ------ Create DRG Route Table Rules
{% for rule in route_table.rules %}
resource "oci_core_drg_route_table_route_rule" "{{ rule.resource_name }}" {
    #Required
    drg_route_table_id = local.{{ route_table.resource_name }}_id
    destination = {{ rule.destination | safe }}
    destination_type = {{ rule.destination_type | safe }}
    next_hop_drg_attachment_id = {{ rule.next_hop_drg_attachment_id | safe }}
}
{% endfor %}
{% endif %}
{% endfor %}

