
{% if read_only %}
# ------ Read DRG
data "oci_core_drg_attachments" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
}
{% else %}
# ------ Create DRG Attachment
resource "oci_core_drg_attachment" "{{ resource_name }}" {
    drg_id        = {{ drg_id }}
    vcn_id        = {{ vcn_id }}
    display_name  = {{ display_name | safe }}
}

locals {
    {{ resource_name }}_id = oci_core_drg.{{ resource_name }}.id
}
{% endif %}
