
{% if read_only %}
# ------ Read DRG
data "oci_core_drgs" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
}
{% else %}
# ------ Create DRG
resource "oci_core_drg" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}


locals {
    {{ resource_name }}_id = oci_core_drg.{{ resource_name }}.id
}

{% if vcn_id is defined %}
# ------ Create DRG Attachment
resource "oci_core_drg_attachment" "{{ resource_name }}DRGAttachment" {
    drg_id        = local.{{ resource_name }}_id
    vcn_id        = {{ vcn_id }}
    display_name   = {{ display_name | safe }}
}
{% endif %}
{% endif %}
