
{% if read_only %}
# ------ Read File Storage System
data "oci_file_storage_file_systems" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create File Storage System
resource "oci_file_storage_file_system" "{{ resource_name }}" {
    # Required
    compartment_id      = {{ compartment_id }}
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | safe | default(1) }} - 1]["name"]

    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
    #kms_key_id = "${oci_kms_key.test_key.id}"
}

locals {
    {{ resource_name }}_id   = oci_file_storage_file_system.{{ resource_name }}.id
    {{ resource_name }}_ocid = oci_file_storage_file_system.{{ resource_name }}.id
}

# ------ Create File Storage Mount Target
resource "oci_file_storage_mount_target" "{{ resource_name }}MountTarget" {
    # Required
    compartment_id      = {{ compartment_ocid }}
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | safe | default(1) }} - 1]["name"]
    subnet_id           = {{ subnet_id }}

    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
{% if hostname_label is defined %}
    hostname_label = {{ hostname_label | safe }}
{% endif %}
{% if ip_address is defined %}
    ip_address     = {{ ip_address }}
{%  endif %}
{% if nsg_ids is defined %}
    nsg_ids        = [{% for nsg_id in nsg_ids %}{{ nsg_id }}{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
}

locals {
    {{ resource_name }}MountTarget_id   = oci_file_storage_mount_target.{{ resource_name }}MountTarget.id
    {{ resource_name }}MountTarget_ocid = oci_file_storage_mount_target.{{ resource_name }}MountTarget.id
}

# ------ Create File Storage Export Set
resource "oci_file_storage_export_set" "{{ resource_name }}ExportSet" {
    #Required
    mount_target_id = local.{{ resource_name }}MountTarget_id

    #Optional
    display_name   = {{ display_name | safe }}
{% if max_fs_stat_bytes is defined %}
    max_fs_stat_bytes = {{ max_fs_stat_bytes | safe }}
{% endif %}
{% if max_fs_stat_files is defined %}
    max_fs_stat_files = {{ max_fs_stat_files | safe }}
{% endif %}
}

locals {
    {{ resource_name }}ExportSet_id   = oci_file_storage_export_set.{{ resource_name }}ExportSet.id
    {{ resource_name }}ExportSet_ocid = oci_file_storage_export_set.{{ resource_name }}ExportSet.id
}

# ------ Create File Storage Export
resource "oci_file_storage_export" "{{ resource_name }}Export" {
    #Required
    export_set_id  = local.{{ resource_name }}ExportSet_id
    file_system_id = local.{{ resource_name }}_id
    path = {{ path | safe }}

    #Optional
    export_options {
        #Required
        source = {{ source | safe }}

        #Optional
        access = {{ access | safe }}
{% if identity_squash is defined %}
        identity_squash = {{ identity_squash | safe }}
        anonymous_gid = {{ anonymous_gid | safe }}
        anonymous_uid = {{ anonymous_uid | safe }}
{% endif %}
        require_privileged_source_port = {{ require_privileged_source_port }}
    }
}
{% endif %}
