
# ------ Create File Storage System
resource "oci_file_storage_file_system" "{{ resource_name }}" {
    # Required
    compartment_id      = {{ compartment_id }}
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | default(1) }} - 1]["name"]

    # Optional
    display_name   = {{ display_name }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags }}
{% endif %}
    #kms_key_id = "${oci_kms_key.test_key.id}"
}

locals {
    {{ resource_name }}_id   = oci_file_storage_file_system.{{ resource_name }}.id
    {{ resource_name }}_ocid = oci_file_storage_file_system.{{ resource_name }}.id
}

# ------ Create File Storage Mount Target
resource "oci_file_storage_mount_target" "{{ resource_name }}MountTarget" {
    # Required
    compartment_id      = {{ compartment_ocid }}
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | default(1) }} - 1]["name"]
    subnet_id           = {{ subnet_id }}

    # Optional
    display_name   = {{ display_name }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags }}
{% endif %}
    hostname_label = {{ hostname }}
    #ip_address = {{ ip_address }}
}

locals {
    {{ resource_name }}MountTarget_id   = oci_file_storage_mount_target.{{ resource_name }}MountTarget.id
    {{ resource_name }}MountTarget_ocid = oci_file_storage_mount_target.{{ resource_name }}MountTarget.id
}

# ------ Create File Storage Export Set
resource "oci_file_storage_export_set" "{{ resource_name }}ExportSet" {
    #Required
    mount_target_id = local.{{ resource_name }}MountTarget_id

    #Optional
    display_name   = {{ display_name }}
    #max_fs_stat_bytes = 23843202333
    #max_fs_stat_files = 223442
}

locals {
    {{ resource_name }}ExportSet_id   = oci_file_storage_export_set.{{ resource_name }}ExportSet.id
    {{ resource_name }}ExportSet_ocid = oci_file_storage_export_set.{{ resource_name }}ExportSet.id
}

# ------ Create File Storage Export
resource "oci_file_storage_export" "{{ resource_name }}Export" {
    #Required
    export_set_id  = local.{{ resource_name }}ExportSet_id
    file_system_id = local.{{ resource_name }}_id
    path = {{ path }}

    #Optional
    export_options {
        #Required
        source = {{ source }}

        #Optional
        access = {{ access }}
    #    anonymous_gid = "${var.export_export_options_anonymous_gid}"
    #    anonymous_uid = "${var.export_export_options_anonymous_uid}"
    #    identity_squash = "${var.export_export_options_identity_squash}"
    #    require_privileged_source_port = "${var.export_export_options_require_privileged_source_port}"
    }
}
