
# ------ Get List OL7 Images
data "oci_core_images" "{{ resource_name }}Images" {
    compartment_id           = {{ compartment_ocid }}
    operating_system         = {{ os }}
    operating_system_version = {{ os_version }}
    shape                    = {{ shape }}
}

# ------ Create Instance
resource "oci_core_instance" "{{ resource_name }}" {
    # Required
    compartment_id      = {{ compartment_id }}
    shape               = {{ shape }}
    # Optional
    display_name        = {{ display_name }}
    availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | default(1) }} - 1]["name"]
    agent_config {
        # Optional
{% if is_management_disabled is defined %}
        is_management_disabled = {{ is_management_disabled }}
{% endif %}
{% if is_monitoring_disabled is defined %}
        is_monitoring_disabled = {{ is_monitoring_disabled }}
{% endif %}
    }
    create_vnic_details {
        # Required
        subnet_id                  = {{ subnet_id }}
        # Optional
        assign_public_ip           = {{ assign_public_ip }}
        display_name               = {{ display_name_vnic }}
        hostname_label             = {{ hostname }}
{% if private_ip is defined %}
        private_ip                 = {{ private_ip }}
{% endif %}
{% if skip_source_dest_check is defined %}
        skip_source_dest_check     = {{ skip_source_dest_check }}
{% endif %}
{% if defined_tags is defined %}
        defined_tags               = {{ defined_tags }}
{% endif %}
{% if freeform_tags is defined %}
        freeform_tags              = {{ freeform_tags }}
{% endif %}
    }
#    extended_metadata {
#        some_string = "stringA"
#        nested_object = "{\"some_string\": \"stringB\", \"object\": {\"some_string\": \"stringC\"}}"
#    }
{% if fault_domain is defined %}
    fault_domain = {{ fault_domain }}
{% endif %}
    metadata = {
        ssh_authorized_keys = {{ authorized_keys }}
{% if user_data is defined %}
        user_data           = base64encode({{ user_data }})
{% endif %}
    }
    source_details {
        # Required
        source_id               = data.oci_core_images.{{ resource_name }}Images.images[0]["id"]
        source_type             = {{ source_type | default('"image"') }}
        # Optional
        boot_volume_size_in_gbs = {{ boot_volume_size_in_gbs | default(50) }}
#        kms_key_id              = {{ kms_key_id }}
    }
{% if preserve_boot_volume is defined %}
    preserve_boot_volume = {{ preserve_boot_volume }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags               = {{ defined_tags }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags              = {{ freeform_tags }}
{% endif %}
}

locals {
    {{ resource_name }}_id            = oci_core_instance.{{ resource_name }}.id
    {{ resource_name }}_public_ip     = oci_core_instance.{{ resource_name }}.public_ip
    {{ resource_name }}_private_ip    = oci_core_instance.{{ resource_name }}.private_ip
}

output "{{ output_name }}PublicIP" {
    value = local.{{ resource_name }}_public_ip
}

output "{{ output_name }}PrivateIP" {
    value = local.{{ resource_name }}_private_ip
}

# ------ Create Block Storage Attachments
{% for volume in volume_attachments %}
resource "oci_core_volume_attachment" "{{ resource_name }}VolumeAttachment{{ loop.index }}" {
    attachment_type = {{ volume.attachment_type | default('"iscsi"') }}
    instance_id     = local.{{ resource_name }}_id
    volume_id       = {{ volume.block_storage_volume_id }}
    display_name    = {{ volume.display_name }}
}
{% endfor %}

# ------ Create VNic Attachments
{% for vnic in vnic_attachments %}
resource "oci_core_vnic_attachment" "{{ resource_name }}VnicAttachment{{ loop.index }}" {
    #Required
    create_vnic_details {
        #Required
        subnet_id = {{ vnic.subnet_id }}

        #Optional
        display_name = {{ vnic.display_name }}
        #assign_public_ip = "${var.vnic_attachment_create_vnic_details_assign_public_ip}"
    {% if defined_tags is defined %}
        defined_tags               = {{ defined_tags }}
    {% endif %}
    {% if freeform_tags is defined %}
        freeform_tags              = {{ freeform_tags }}
    {% endif %}
        #hostname_label = "${format("%s{{ loop.index }}", {{ hostname }})}"
        #nsg_ids = "${var.vnic_attachment_create_vnic_details_nsg_ids}"
        #private_ip = "${var.vnic_attachment_create_vnic_details_private_ip}"
        #skip_source_dest_check = "${var.vnic_attachment_create_vnic_details_skip_source_dest_check}"
    }
    instance_id = local.{{ resource_name }}_id

    #Optional
    display_name = {{ vnic.display_name }}
    #nic_index = "0"
}
{% endfor %}

