
{% if read_only %}
# ------ Read Local Peering Gateway
data "oci_core_local_peering_gateways" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create Local Peering Gateway
resource "oci_core_local_peering_gateway" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
    # Optional
    display_name   = {{ display_name | safe }}
    {% if route_table_id is defined %}
        route_table_id  = {{ route_table_id }}
    {% endif %}
    {% if peer_id is defined %}
        peer_id  = {{ peer_id }}
    {% endif %}
    {% if defined_tags is defined %}
        defined_tags   = {{ defined_tags | safe }}
    {% endif %}
    {% if freeform_tags is defined %}
        freeform_tags  = {{ freeform_tags | safe }}
    {% endif %}
}

locals {
    {{ resource_name }}_id = oci_core_local_peering_gateway.{{ resource_name }}.id
}
{% endif %}
