
{% if read_only %}
# ------ Read Network Security Group
data "oci_core_network_security_groups" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create Network Security Group
resource "oci_core_network_security_group" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}

locals {
    {{ resource_name }}_id = oci_core_network_security_group.{{ resource_name }}.id
}

# ------ Create Network Security Group Rules
{% for rule in security_rules %}
resource "oci_core_network_security_group_security_rule" "{{ resource_name }}_Rule{{ loop.index }}" {
    # Required
    network_security_group_id = local.{{ resource_name }}_id
    direction    = {{ rule.direction | safe }}
    protocol    = {{ rule.protocol | safe }}
    # Optional
    description   = {{ rule.description| safe }}
    {% if rule.destination is defined %}
        destination = {{ rule.destination | safe }}
    {% endif %}
    {% if rule.destination_type is defined %}
        destination_type  = {{ rule.destination_type | safe }}
    {% endif %}
    {% if rule.source is defined %}
        source = {{ rule.source | safe }}
    {% endif %}
    {% if rule.source_type is defined %}
        source_type  = {{ rule.source_type | safe }}
    {% endif %}
    {% if rule.tcp_options is defined %}
        tcp_options {
        {% if rule.tcp_options.destination_port_range is defined %}
            destination_port_range {
            min = {{ rule.tcp_options.destination_port_range.min | safe }}
            max = {{ rule.tcp_options.destination_port_range.max | safe }}
            }
        {% endif %}
        {% if rule.tcp_options.source_port_range is defined %}
            source_port_range {
            min = {{ rule.tcp_options.source_port_range.min | safe }}
            max = {{ rule.tcp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.udp_options is defined %}
        udp_options {
        {% if rule.udp_options.destination_port_range is defined %}
            destination_port_range {
            min = {{ rule.udp_options.destination_port_range.min | safe }}
            max = {{ rule.udp_options.destination_port_range.max | safe }}
            }
        {% endif %}
        {% if rule.udp_options.source_port_range is defined %}
            source_port_range {
            min = {{ rule.udp_options.source_port_range.min | safe }}
            max = {{ rule.udp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.icmp_options is defined %}
        icmp_options {
        type = {{ rule.icmp_options.type | safe }}
        {% if rule.icmp_options.code is defined %}
            code = {{ rule.icmp_options.code | safe }}
        {% endif %}
        }
    {% endif %}
}

locals {
    {{ resource_name }}_Rule{{ loop.index }}_id = oci_core_network_security_group_security_rule.{{ resource_name }}_Rule{{ loop.index }}.id
}
{% endfor %}
{% endif %}
