
# ------ Get Namespace for Compartment
data "oci_objectstorage_namespace" "{{ resource_name }}Namespace" {
    #Optional
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

{% if read_only %}
# ------ Read Object Storage Bucket
data "oci_objectstorage_bucket" "{{ resource_name }}" {
    # Required
    name           = {{ name | safe }}
    namespace      = data.oci_objectstorage_namespace.{{ resource_name }}Namespace.namespace
}
{% else %}
# ------ Create Object Storage Bucket
resource "oci_objectstorage_bucket" "{{ resource_name }}" {
    #Required
    compartment_id = {{ compartment_id }}
    name           = {{ name | safe }}
    namespace      = data.oci_objectstorage_namespace.{{ resource_name }}Namespace.namespace

    #Optional
    storage_tier   = {{ storage_tier | safe }}
    access_type    = {{ public_access_type | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
    #kms_key_id = {{ kms_key_id }}
    #metadata = {{ metadata | safe }}
    #object_events_enabled = {{ object_events_enabled | safe }}
}
{% endif %}
