
{% if read_only %}
# ------ Read OKE Cluster
data "oci_containerengine_clusters" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create OKE Cluster
resource "oci_containerengine_cluster" "{{ resource_name }}" {
    #Required
    compartment_id     = {{ compartment_ocid }}
    kubernetes_version = {{ kubernetes_version | safe }}
    name               = {{ display_name | safe }}
    vcn_id             = {{ vcn_id }}

    #Optional
{% if kms_key_id is defined %}
    kms_key_id         = {{ kms_key_id | safe}}
{% endif %}
{% if is_kubernetes_dashboard_enabled is defined or is_tiller_enabled is defined or is_pod_security_policy_enabled is defined or pods_cidr is defined or services_cidr is defined or service_lb_subnet_ids is defined %}
    options {
        #Optional
    {% if is_kubernetes_dashboard_enabled is defined or is_tiller_enabled is defined %}
        add_ons {
            #Optional
            is_kubernetes_dashboard_enabled = {{ is_kubernetes_dashboard_enabled | safe }}
            is_tiller_enabled               = {{ is_tiller_enabled | safe }}
        }
    {% endif %}
    {% if is_pod_security_policy_enabled is defined %}
        admission_controller_options {
            #Optional
            is_pod_security_policy_enabled  = {{ is_pod_security_policy_enabled | safe }}
        }
    {% endif %}
    {% if pods_cidr is defined or services_cidr is defined %}
        kubernetes_network_config {
            #Optional
        {% if pods_cidr is defined %}
            pods_cidr                       = {{ pods_cidr | safe }}
        {% endif %}
        {% if services_cidr is defined %}
            services_cidr                   = {{ services_cidr | safe }}
        {% endif %}
        }
    {% endif %}
    {% if service_lb_subnet_ids is defined %}
        service_lb_subnet_ids = [{% for id in service_lb_subnet_ids %}{{ id }}{% if not loop.last %},{% endif %}{% endfor %}]
    {% endif %}
    }
{% endif %}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}

locals {
    {{ resource_name }}_id            = oci_containerengine_cluster.{{ resource_name }}.id
}

{% for pool in node_pools %}
# ------ Create Container Node Pool
resource "oci_containerengine_node_pool" "{{ resource_name }}NodePool{{ loop.index }}" {
    #Required
    cluster_id         = local.{{ resource_name }}_id
    compartment_id     = {{ compartment_ocid }}
    kubernetes_version = {{ kubernetes_version | safe }}
    name               = {{ display_name | safe }}
    node_shape         = {{ pool.node_shape | safe }}

    #Optional
{% if pool.key is defined and pool.value is defined %}
    initial_node_labels {
        #Optional
        key = {{ pool.key | safe }}
        value = {{ pool.value | safe }}
    }
{% endif %}
{% if pool.node_config_details is defined %}
    node_config_details {
    {% for config in pool.node_config_details.placement_configs %}
        placement_configs {
            availability_domain = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ config.availability_domain | safe }} - 1]["name"]
            subnet_id        = {{ config.subnet_id }}
            }
    {% endfor %}
        size = {{ pool.node_config_details.size | safe }}
    }
{% endif %}
{% if pool.node_metadata is defined %}
    node_metadata = {{ pool.node_metadata }}
{% endif %}
{% if pool.node_source_details is defined %}
    node_source_details {
        #Required
        image_id = lookup([for x in data.oci_core_images.InstanceImages.images: x if x.display_name == {{ pool.node_source_details.image | safe }}][0], "id")
        source_type = {{ pool.node_source_details.source_type | safe }}
    }
{% endif %}
{% if pool.ssh_public_key is defined %}
    ssh_public_key = {{ pool.ssh_public_key | safe }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}
{% endfor %}
{% endif %}
