
terraform {
{# {% if deployment_platform is defined and deployment_platform == "pca" %}
    required_providers {
        oci = {
            source = "hashicorp/oci"
            version = "= 4.50.0"
        }
    }
{% endif %} End PCA Check #}
    required_version = ">= 0.12.0, <= 1.5.7"
}

{% if add_provider is defined and add_provider %}
# ------ Connect to Provider
provider "oci" {
  tenancy_ocid     = {{ tenancy_ocid }}
  user_ocid        = {{ user_ocid }}
  fingerprint      = {{ fingerprint }}
  private_key_path = {{ private_key_path }}
  region           = {{ region }}
}
{% endif %}

# ------ Home Region Provider
{% if deployment_platform is defined and deployment_platform != "pca" %}
data "oci_identity_region_subscriptions" "HomeRegion" {
    tenancy_id = {{ tenancy_ocid }}
    filter {
        name = "is_home_region"
        values = [true]
    }
}
locals {
    home_region = lookup(element(data.oci_identity_region_subscriptions.HomeRegion.region_subscriptions, 0), "region_name")
}
{% else %}
locals {
    home_region = {{ region }}
}
{% endif %} {# End PCA Check #}

provider "oci" {
    alias            = "home_region"
{% if resource_manager is not defined %}
    tenancy_ocid     = {{ tenancy_ocid }}
    user_ocid        = {{ user_ocid }}
    fingerprint      = {{ fingerprint }}
    private_key_path = {{ private_key_path }}
{% endif %}
    region           = local.home_region
}

output "Home_Region_Name" {
 value = local.home_region
}
