
# This code is auto generated and any changes will be lost if it is regenerated.

terraform {
    required_version = ">= 0.12.0"
}

# -- Copyright: {{ copyright }}
# ---- Author : {{ author }}
# ------ Connect to Provider
provider "oci" {
  tenancy_ocid     = {{ tenancy_ocid }}
  user_ocid        = {{ user_ocid }}
  fingerprint      = {{ fingerprint }}
  private_key_path = {{ private_key_path }}
  region           = {{ region }}
}
