
{% if read_only %}
# ------ Read Route Table
data "oci_core_route_tables" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create Route Table
{% if manage_default_resource_id is defined %}
# ------- Update VCN Default Route Table
resource "oci_core_default_route_table" "{{ resource_name }}" {
    # Required
    manage_default_resource_id = {{ manage_default_resource_id }}
{% else %}
resource "oci_core_route_table" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
{% endif %}
{% for rule in route_rules %}
    route_rules    {
        destination_type  = {{ rule.destination_type | safe }}
    {% if rule.use_cidr_block %}
        destination       = {{ rule.destination | safe }}
    {% else %}
        destination       = lookup([for x in data.oci_core_services.RegionServices.services: x if substr(x.name, 0, 3) == {{ rule.destination | safe }}][0], "cidr_block")
    {% endif %}
        network_entity_id = {{ rule.network_entity_id }}
        description       = {{ rule.description | safe }}
    }
{% endfor %}
    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}

{% if manage_default_resource_id is defined %}
locals {
    {{ resource_name }}_id = oci_core_default_route_table.{{ resource_name }}.id
    }
{% else %}
locals {
    {{ resource_name }}_id = oci_core_route_table.{{ resource_name }}.id
}
{% endif %}
{% endif %}
