
{% if read_only %}
# ------ Read Security List
data "oci_core_security_lists" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Create Security List
{% if manage_default_resource_id is defined %}
# ------- Update VCN Default Security List
resource "oci_core_default_security_list" "{{ resource_name }}" {
    # Required
    manage_default_resource_id = {{ manage_default_resource_id }}
{% else %}
resource "oci_core_security_list" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
{% endif %}
{% for rule in egress_rules %}
    egress_security_rules {
        # Required
        protocol    = {{ rule.protocol | safe }}
        destination = {{ rule.destination | safe }}
        # Optional
    {% if rule.destination_type is defined %}
        destination_type  = {{ rule.destination_type | safe }}
    {% endif %}
    {% if rule.description is defined %}
        description  = {{ rule.description | safe }}
    {% endif %}
    {% if rule.tcp_options is defined %}
        tcp_options {
        {% if rule.tcp_options.destination_port_range is defined %}
            min = {{ rule.tcp_options.destination_port_range.min | safe }}
            max = {{ rule.tcp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.tcp_options.source_port_range is defined %}
            source_port_range {
                min = {{ rule.tcp_options.source_port_range.min | safe }}
                max = {{ rule.tcp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.udp_options is defined %}
        udp_options {
        {% if rule.udp_options.destination_port_range is defined %}
            min = {{ rule.udp_options.destination_port_range.min | safe }}
            max = {{ rule.udp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.udp_options.source_port_range is defined %}
            source_port_range {
                min = {{ rule.udp_options.source_port_range.min | safe }}
                max = {{ rule.udp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.icmp_options is defined %}
        icmp_options {
            type = {{ rule.icmp_options.type | safe }}
        {% if rule.icmp_options.code is defined %}
            code = {{ rule.icmp_options.code | safe }}
        {% endif %}
        }
    {% endif %}
    }
{% endfor %}
{% for rule in ingress_rules %}
    ingress_security_rules {
        # Required
        protocol    = {{ rule.protocol | safe }}
        source      = {{ rule.source | safe }}
        # Optional
    {% if rule.source_type is defined %}
        source_type  = {{ rule.source_type | safe }}
    {% endif %}
    {% if rule.description is defined %}
        description  = {{ rule.description | safe }}
    {% endif %}
    {% if rule.tcp_options is defined %}
        tcp_options {
        {% if rule.tcp_options.destination_port_range is defined %}
            min = {{ rule.tcp_options.destination_port_range.min | safe }}
            max = {{ rule.tcp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.tcp_options.source_port_range is defined %}
            source_port_range {
                min = {{ rule.tcp_options.source_port_range.min | safe }}
                max = {{ rule.tcp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.udp_options is defined %}
        udp_options {
        {% if rule.udp_options.destination_port_range is defined %}
            min = {{ rule.udp_options.destination_port_range.min | safe }}
            max = {{ rule.udp_options.destination_port_range.max | safe }}
        {% endif %}
        {% if rule.udp_options.source_port_range is defined %}
            source_port_range {
                min = {{ rule.udp_options.source_port_range.min | safe }}
                max = {{ rule.udp_options.source_port_range.max | safe }}
            }
        {% endif %}
        }
    {% endif %}
    {% if rule.icmp_options is defined %}
        icmp_options {
            type = {{ rule.icmp_options.type | safe }}
        {% if rule.icmp_options.code is defined %}
            code = {{ rule.icmp_options.code | safe }}
        {% endif %}
        }
    {% endif %}
    }
{% endfor %}
    # Optional
    display_name   = {{ display_name | safe }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}

{% if manage_default_resource_id is defined %}
locals {
    {{ resource_name }}_id = oci_core_default_security_list.{{ resource_name }}.id
}
{% else %}
locals {
    {{ resource_name }}_id = oci_core_security_list.{{ resource_name }}.id
}
{% endif %}
{% endif %}
