
# ------ Create Security List
resource "oci_core_security_list" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
{% for rule in egress_rules %}
    egress_security_rules {
        # Required
        protocol    = {{ rule.protocol }}
        destination = {{ rule.destination }}
        # Optional
    {% if rule.destination_type is defined %}
        destination_type  = {{ rule.destination_type }}
    {% endif %}
    }
{% endfor %}
{% for rule in ingress_rules %}
    ingress_security_rules {
        # Required
        protocol    = {{ rule.protocol }}
        source      = {{ rule.source }}
        # Optional
{% if rule.tcp_options is defined %}
        tcp_options {
            min = {{ rule.tcp_options.min }}
            max = {{ rule.tcp_options.max }}
        }
{% endif %}
    }
{% endfor %}
    # Optional
    display_name   = {{ display_name }}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags }}
{% endif %}
}

locals {
    {{ resource_name }}_id = oci_core_security_list.{{ resource_name }}.id
}
