
{% if read_only %}
# ------ Read Service Gateway
data "oci_core_service_gateways" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    filter {
        name = "id"
        values = [{{ ocid | safe }}]
    }
}

locals {
    {{ resource_name }}_id = {{ ocid | safe }}
    {{ resource_name }}_ocid = {{ ocid | safe }}
}
{% else %}
# ------ Get List Service OCIDs
locals {
    {{ resource_name }}ServiceId = lookup([for x in data.oci_core_services.RegionServices.services: x if substr(x.name, 0, 3) == {{ service_name | safe }}][0], "id")
}

# ------ Create Service Gateway
resource "oci_core_service_gateway" "{{ resource_name }}" {
    # Required
    compartment_id = {{ compartment_id }}
    vcn_id         = {{ vcn_id }}
    services {
        service_id = local.{{ resource_name }}ServiceId
    }
    # Optional
    display_name   = {{ display_name | safe }}
{% if route_table_id is defined %}
    route_table_id = {{ route_table_id }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags   = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags  = {{ freeform_tags | safe }}
{% endif %}
}

locals {
    {{ resource_name }}_id = oci_core_service_gateway.{{ resource_name }}.id
}
{% endif %}
