
{% if read_only %}
# ------ Read Subnet
data "oci_core_subnet" "{{ resource_name }}" {
    # Required
    subnet_id = {{ ocid | safe }}
}

locals {
    {{ resource_name }}_id              = data.oci_core_subnet.{{ resource_name }}.id
    {{ resource_name }}_domain_name     = data.oci_core_subnet.{{ resource_name }}.subnet_domain_name
}
{% else %}
# ------ Create Subnet
# ---- Create Public Subnet
resource "oci_core_subnet" "{{ resource_name }}" {
    # Required
    compartment_id             = {{ compartment_id }}
    vcn_id                     = {{ vcn_id }}
    cidr_block                 = {{ cidr_block | safe }}
    # Optional 
{% if availability_domain is defined and availability_domain | safe | int != 0 %}
    availability_domain        = data.oci_identity_availability_domains.AvailabilityDomains.availability_domains[{{ availability_domain | safe }} - 1]["name"]
{% endif %}
{% if display_name is defined %}
    display_name               = {{ display_name | safe }}
{% endif %}
{% if dns_label is defined %}
    dns_label                  = {{ dns_label | safe }}
{% endif %}
{% if security_list_ids is defined %}
    security_list_ids          = [{% for security_list_id in security_list_ids %}{{ security_list_id }}{% if not loop.last %},{% endif %}{% endfor %}]
{% endif %}
{% if route_table_id is defined %}
    route_table_id             = {{ route_table_id }}
{% endif %}
{%  if regional_subnets is defined and not regional_subnets %}
    availability_domain        = {{ availability_domain }}
{% endif %}
{% if dhcp_options_id is defined %}
    dhcp_options_id            = {{ dhcp_options_id | safe }}
{% endif %}
{% if prohibit_public_ip_on_vnic is defined %}
    prohibit_public_ip_on_vnic = {{ prohibit_public_ip_on_vnic | safe | lower }}
{% endif %}
{% if defined_tags is defined %}
    defined_tags               = {{ defined_tags | safe }}
{% endif %}
{% if freeform_tags is defined %}
    freeform_tags              = {{ freeform_tags | safe }}
{% endif %}
{% if ipv6cidr_block is defined %}
    ipv6cidr_block  = {{ ipv6cidr_block | safe }}
{% endif %}
}

locals {
    {{ resource_name }}_id              = oci_core_subnet.{{ resource_name }}.id
    {{ resource_name }}_domain_name     = oci_core_subnet.{{ resource_name }}.subnet_domain_name
    {{ resource_name }}_netmask         = substr(oci_core_subnet.{{ resource_name }}.cidr_block, -2, -1)
    {{ resource_name }}_cidr_block      = {{ cidr_block | safe }}
}
{% endif %}
