name: Build/Release

on: 
  push:
    branches:
      - 'nightly'

env:
  CI: false
  OCD_VERSION: 0.1.0-alpha
  RELEASE_TAG: v0.1.0-alpha.ocd.nightly
  MAC_ARTEFACT: ocd-mac
  WIN_ARTEFACT: ocd-win
  RELEASE_ARTEFACTS_DIR: ./release-artefacts

jobs:
  create-release: 
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # matrix:
      #   os: [macos-latest]
      #   version: [latest]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Get Release
        id: get_alpha_release
        run: |
          echo "upload_url=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/oracle/oci-designer-toolkit/releases/tags/${{ env.RELEASE_TAG }} --jq  '.upload_url')" >> $GITHUB_OUTPUT
          echo "id=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/oracle/oci-designer-toolkit/releases/tags/${{ env.RELEASE_TAG }} --jq  '.id')" >> $GITHUB_OUTPUT
      - name: Delete Release
        id: delete_alpha_release
        run: |
          gh api --method DELETE -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/oracle/oci-designer-toolkit/releases/${{ steps.get_alpha_release.outputs.id }}
      - name: Create Alpha Release
        if: success() || failure()
        id: create_release_mac
        run: |
          gh release create ${{ env.RELEASE_TAG }} --title "OCD Alpha Nightly Release" --notes-file ./ocd/README.md --target nightly --latest --prerelease
  
  build:
    needs: [create-release]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        version: [latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }}
      - run: node --version
      - run: npm --version
      - run: npm run github-action-install
      - run: npm run github-action-compile-for-codegen
      - run: npm run github-action-generate
      - run: npm run github-action-compile
      - run: npm run github-action-pack
      - run: npm run github-action-build-react
      - run: npm run github-action-build-electron
      - run: ls -R ./ocd/dist
        if: always()
      - name: Upload Mac Artifact
        if: matrix.os == 'macos-latest'
        id: upload-mac-release-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.MAC_ARTEFACT }}
          path: ./ocd/dist/mac/ocd-${{ env.OCD_VERSION }}.dmg
          overwrite: true
          retention-days: 7
      - name: Upload Windows Artifact
        if: matrix.os == 'windows-latest'
        id: upload-win-release-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.WIN_ARTEFACT }}
          path: ./ocd/dist/win/ocd-${{ env.OCD_VERSION }}.exe
          overwrite: true
          retention-days: 7
  
  release:
    needs: [create-release, build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # matrix:
      #   os: [macos-latest]
      #   version: [latest]
    steps:
      - name: Get Release
        id: get_alpha_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "upload_url=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/oracle/oci-designer-toolkit/releases/tags/${{ env.RELEASE_TAG }} --jq  '.upload_url')" >> $GITHUB_OUTPUT
          echo "id=$(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" /repos/oracle/oci-designer-toolkit/releases/tags/${{ env.RELEASE_TAG }} --jq  '.id')" >> $GITHUB_OUTPUT
      - name: Download Artefacts
        id: download-release-artefacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ env.RELEASE_ARTEFACTS_DIR }}
          merge-multiple: true
      - name: Upload Mac Release Asset
        id: upload-mac-release-asset-to-alpha 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_alpha_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ${{ env.RELEASE_ARTEFACTS_DIR }}/ocd-${{ env.OCD_VERSION }}.dmg
          asset_name: ocd-${{ env.OCD_VERSION }}.dmg
          asset_content_type: application/octet-stream
      - name: Upload Windows Release Asset
        id: upload-windows-release-asset-to-alpha 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_alpha_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ${{ env.RELEASE_ARTEFACTS_DIR }}/ocd-${{ env.OCD_VERSION }}.exe
          asset_name: ocd-${{ env.OCD_VERSION }}.exe
          asset_content_type: application/x-msdownload
  